[2021-03-30 17:59] yasharth291 opened #1 "Adding the Docker file in the application to make a container."
Adding a docker file in the application to make a container to run the app inside that container

[2021-04-02 22:49] palisadoes opened #2 "Create a CONTRIBUTING.md file"
Use the ones in `talawa-api` and `talawa` as a guide.

[2021-04-02 22:51] palisadoes opened #3 "Update README.md to match the style of other talawa repos"
There are a number of things missing.

1. Description of the project
2. Links to related projects
3. Logo

[2021-04-02 23:01] #3 closed

[2021-04-03 07:39] XshubhamX commented on #2
Sir I can do this Can you please assign this to me

[2021-04-03 09:41] yasharth291 opened #6 "Adding Code of Conduct in the repo"
Adding a Code of Conduct is a good enhancement to the project

@palisadoes

[2021-04-03 09:43] yasharth291 opened #7 "Adding ISSUE template"
Adding issue template is also a great way to put it forwad

[2021-04-03 09:43] yasharth291 opened #8 "Adding PR template"
Adding a pr template is also good

[2021-04-04 16:50] yasharth291 commented on #2
@palisadoes  sir it should be closed as it is done

[2021-04-04 16:54] yasharth291 commented on #1
@heyjordn  @palisadoes  Can i work on this

[2021-04-04 17:13] MayankVir commented on #2
Here @palisadoes I am working on this issue. Please assign to me!!

[2021-04-04 17:15] yasharth291 commented on #2
Contributing file is already present in the project @MayankVir i think you should read the project again

[2021-04-04 17:17] MayankVir commented on #2
Okay.. Thanks @yasharth291

[2021-04-04 17:19] yasharth291 commented on #2
No problem :)

[2021-04-04 21:07] palisadoes opened #12 "Add label automation to the repository"

[2021-04-04 21:09] #12 closed

[2021-04-04 21:11] palisadoes commented on #8
Please make sure your work includes these pre-existing files imported from our other repos.

1. https://github.com/PalisadoesFoundation/talawa-admin/tree/master/.github/ISSUE_TEMPLATE
1. https://github.com/PalisadoesFoundation/talawa-admin/blob/master/.github/pull_request_template.md

[2021-04-05 16:19] palisadoes opened #14 "Student Internship Programs"
[Please follow this link for details](https://github.com/PalisadoesFoundation/talawa/issues/359)

[2021-04-11 22:26] DangaRanga opened #16 "Implement CI/CD Pipeline to run tests before PR merges"
**Is your feature request related to a problem? Please describe.**
To ensure that tests are run before code is merged we need a tool to automatically run the tests to improve the reliability of Talawa-Admin as all feature/pull requests need to be adequately tested before they are merged.

**Describe the solution you'd like**
The tool must be :
    - Free for non-profit organizations (ideally)

[2021-04-23 23:01] palisadoes commented on #14
.

[2021-04-23 23:02] palisadoes commented on #2
File already created

[2021-04-23 23:02] #2 closed

[2021-04-23 23:07] #7 closed

[2021-04-23 23:07] #8 closed

[2021-04-23 23:58] palisadoes opened #17 "Add and test GitHub action to lint all PRs before submission"
We need to lint all code as part of the pull request process.

1. The commands for the actions file can be found at the beginning of the documentation of this [outdated GitHub action](https://github.com/marketplace/actions/run-eslint)
1. We will need the action to be activated only on a pull request. [We have an example of how to do that in the Talawa repo](https://github.com/PalisadoesFoundation/

[2021-04-24 17:13] palisadoes commented on #6
This has been done

[2021-04-24 17:13] #6 closed

[2021-04-24 17:20] yasharth291 commented on #17
should i work on this @palisadoes sir

[2021-04-24 17:20] palisadoes opened #18 "Create `Talawa-Admin` Installer"
# Introduction

1. We need a single CLI script or program to install Talawa Admin.
1. It must be 100% intuitive and worry free.
1. Must be able to run on Linux or Windows

# General Requirements

1. It is highly preferred that the user does not have to install any additional script interpreter other than those used to run Talawa-Admin.
1. Any failing OS commands must be logged to STDIO, STDERR and

[2021-04-24 17:20] yasharth291 commented on #17
please can you assign me this

[2021-04-24 17:33] yasharth291 commented on #17
thanks sir

[2021-04-24 20:34] palisadoes opened #19 "Add the ability to create new organizations"
Talawa Admin installation (Issue #18) prompts to create a Organizational Creator Admin (OCA). There needs to be a way where this user can create additional organizations suitable for creating a cloud service.

The creation of the organization will need to:

1. Create a different organization URI for `Talawa` users to select in their mobile app
2. Allow the OCA to access the administration panel of

[2021-04-24 22:09] palisadoes opened #20 "Screen and functionality for an OCA to add an organizational admin"
[Refer to this document for terminologies and a summary of features required in Talawa Admin.](https://palisadoesfoundation.github.io/talawa-docs/docs/features/admin-portal/admin-portal-overview)

1. When an OCA creates an organization, they must also be able to create an admin user for the organization.
2. The admin username must be unique for all the OCA's organizations

Parent issue:
#48

[2021-04-24 22:21] palisadoes opened #21 "Screen and functionality for an OCA to remove an organizational admin"
[Refer to this document for terminologies and a summary of features required in Talawa Admin.](https://palisadoesfoundation.github.io/talawa-docs/docs/features/admin-portal/admin-portal-overview)

Parent issue:
#48

1. An OCA needs to have the ability to delete an organization admin.

[2021-04-24 22:22] palisadoes opened #22 "Screen and functionality for an OCA to delete organization"
[Refer to this document for terminologies and a summary of features required in Talawa Admin.](https://palisadoesfoundation.github.io/talawa-docs/docs/features/admin-portal/admin-portal-overview)

Parent issue:
#48

1. An OCA needs to have the ability to delete an organization and all its content.
2. There must be sufficient safeguards to reduce the risk of accidental deletion.

[2021-04-26 14:29] XshubhamX commented on #22
@palisadoes adding member to organization or removing them will be done from talawa app ,if i'm right?

[2021-04-29 19:47] palisadoes opened #23 "Convert Talawa-Admin to React - Parent Issue"
**Is your feature request related to a problem? Please describe.**
@XshubhamX suggested in [Talawa-API Issue 236](https://github.com/PalisadoesFoundation/talawa-api/issues/236) that we should migrate talawa-admin to react to get more contributions.

We have decided to do this. This issue is a tracking issue against which all tasks will be managed.

**Describe the solution you'd like**
A clear and

[2021-04-30 03:35] XshubhamX commented on #23
@palisadoes sir the base architecture for react app is ready should i make the pr.

[2021-04-30 03:47] palisadoes commented on #23
Yes. Ask Xavier or Jason to review.

[2021-04-30 12:58] palisadoes commented on #17
@yasharth291 we are migrating to react @XshubhamX  is working on a pull request #24

You will need to adjust the linting mechanism

[2021-04-30 13:35] yasharth291 commented on #17
yeah sir i am working on this please tell me what changes should i do regarding this

[2021-05-01 13:42] sumitra19jha commented on #18
@palisadoes Recently I have done course related to vue, Can I work on this issue?

[2021-05-01 14:04] sumitra19jha opened #25 "Bug report for README.md Error"
**Describe the bug**
The `README.md` doesn't contains the link of `contributing.md` and `Talawa Docs` github

**To Reproduce**
Steps to reproduce the behavior:

1. Open README.md
2. Go to Documentation Section

**Expected behaviour**
Instead of text named link, the actual link should be present

**Actual behaviour**
A text named link is present

**Screenshots**

![Screenshot 2021-05-01 at 7 33 06

[2021-05-01 15:08] yasharth291 commented on #25
Thank you for showing this i will do this

[2021-05-01 17:56] yasharth291 commented on #16
We can use nodejs 4 pipeline too i have used it before and it works for the react projects very well

[2021-05-02 16:19] DangaRanga commented on #16
Okay we can use that, I'll assign the issue to you

[2021-05-02 16:20] yasharth291 commented on #16
Thank you so much sir working on it right now

[2021-05-02 17:07] DangaRanga opened #27 "Add Code Style Guide to CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
There is a need for a consistent code style within Talawa-Admin to ensure that maintainable and easy to understand components are merged into the repository, similar to what's present in the Talawa and Talawa-API repositories

**Describe the solution you'd like**
This could be similar to AirBnB's react style guide found [here](http

[2021-05-02 20:48] DangaRanga opened #29 "Implement Linter to enforce style guide"
**Is your feature request related to a problem? Please describe.**
To prevent issues similar to what happened in Talawa due to unlinted code, we need to ensure that all code submitted to Talawa-Admin is linted with ESLint and formatted with Prettier to adhere to the style guide proposed in #27

**Describe the solution you'd like**
 This can be achieved by running a pre-commit hook prior to pushing

[2021-05-02 20:56] #25 closed

[2021-05-02 21:08] DangaRanga commented on #29
My bad, this is a duplicate issue.

[2021-05-02 21:08] #29 closed

[2021-05-02 22:42] yasharth291 opened #30 "Adding a license for the talawa admin repo"
Adding a license for the talawa admin will a great progress to set up the community  @palisadoes  @DangaRanga

[2021-05-02 23:34] yasharth291 commented on #30
Thank you sir

[2021-05-03 14:11] palisadoes commented on #18
@sumitra19jha  we are migrating to react as more contributors feel comfortable with it.

[2021-05-03 14:13] sumitra19jha commented on #18
Ok. That's really great @palisadoes

[2021-05-03 20:45] #30 closed

[2021-05-09 16:19] #16 closed

[2021-05-10 14:31] palisadoes opened #32 "README.md has a broken link to the Talawa logo"
1. The [README.md](https://github.com/PalisadoesFoundation/talawa-admin/blob/master/README.md) file has a broken link to the Talawa logo. This worked when the project used Vue. The React refactoring has broken it.
1. The [Talawa Docs README.md](https://github.com/PalisadoesFoundation/talawa-docs/blob/master/README.md) works. This can be used as an example for how to fix it.

[2021-05-10 15:15] #32 closed

[2021-05-10 15:27] #1 closed

[2021-05-14 12:05] ssaumyaa7 commented on #22
@palisadoes Sir we can start this only after the base structure of admin portal is created right ?

[2021-05-14 12:40] XshubhamX commented on #22
@ssaumyaa7 I am currently building the home page and login page for the application so that a person having a valid id can atleast login to the portal.I will make pr in 3-4 days after that this issue can be tackled

[2021-05-14 12:45] ssaumyaa7 commented on #22
@XshubhamX that's great... okay

[2021-05-15 03:44] XshubhamX opened #35 "Home page and login page for portal"
**Is your feature request related to a problem? Please describe.**
Its a new feature

**Describe the solution you'd like**
I will use chakra/ui for creating UI .

The home page and login page will provide the base for a user to know what this portal can perform and the user having a valid ID can also signin to the portal.

@palisadoes sir can I work on this

Parent Issue:
#49

[2021-05-15 06:36] yasharth291 commented on #35
I think @Sagar2366 sir this is under gsoc so is it not wrong to start work before results?

[2021-05-15 08:00] XshubhamX commented on #35
@yasharth291 there is a need to increase the contributions in this repo which are currently very low. so having a login and home page will give a clear idea about he portal and I dont think it will affect gsoc in any way after all There is a lot to be done

[2021-05-15 08:02] yasharth291 commented on #35
@XshubhamX talking about me my proposal is totally dependent on talawa admin if homepage and login page is made i have to change my whole idea of UI i have to create a new UI for every page and it will increase work for the selected students so i think waiting till 17 will not effect so much

[2021-05-15 08:04] XshubhamX commented on #35
@yasharth291 you are using react js right ?

[2021-05-15 08:07] yasharth291 commented on #35
yeah but is it really have any point regarding ui here?

[2021-05-15 08:08] XshubhamX commented on #35
@yasharth291 lets talk on slack

[2021-05-15 08:21] Sagar2366 commented on #35
@XshubhamX keeping this issue on hold until GSoC students announcement.

[2021-05-15 08:25] XshubhamX commented on #35
@Sagar2366 sure sir I just  just discussed this with @yasharth291 on slack.

[2021-05-16 17:08] sumitra19jha opened #37 "Organise github workflow and add script"
**Is your feature request related to a problem? Please describe.**
Creation of only two `yml` file, one for issues and one for PR and organise the workflow code.
We can add the countline script here and it will help to make sure the project is structured.

**Describe the solution you'd like**
2 yml files:
1. issues.yml
2. pull-request.yml

**Approach to be followed (optional)**
The current 3 yml f

[2021-05-16 17:09] sumitra19jha commented on #37
@palisadoes Can I work on this issue?

[2021-05-16 17:28] yasharth291 commented on #37
Hey @sumitra19jha i am already working on some workflow please can you hold this issue for some time

[2021-05-16 17:29] yasharth291 commented on #23
@palisadoes i think this issue can be closed sir it is completed

[2021-05-16 17:31] sumitra19jha commented on #37
I checked. You have added it and So that's why I reported it and want to work on it

[2021-05-16 17:33] yasharth291 commented on #37
Actually i am also working on linter one you can work when i can complete it

[2021-05-16 17:34] sumitra19jha commented on #37
What I am proposing in this issue won't interfere with your work Yasharth

[2021-05-16 17:35] yasharth291 commented on #37
ok then you can work on it

[2021-05-16 17:37] sumitra19jha commented on #37
Waiting for getting this issue assigned
@palisadoes if it fits the needs of the project then please assign this issue to me

[2021-05-16 17:38] yasharth291 opened #38 "Some links are not working in readme.md"
Some links in the readme.md are not working @palisadoes  @DangaRanga could i please start working on them.

[2021-05-16 19:18] #23 closed

[2021-05-17 15:03] #38 closed

[2021-05-17 21:35] bonnie-23 opened #42 "Flawless Installation - Admin Portal"
- [ ] Installation should be **one-click** with minimum parameters required: **AP URI**, **admin username**, **admin password** with verification

[2021-05-17 22:00] #42 closed

[2021-05-18 15:37] palisadoes commented on #18
@sumitra19jha are you still working on this?

[2021-05-18 15:40] sumitra19jha commented on #18
No @palisadoes
I am not working on this currently. Anyone interested can take up the issue

[2021-05-18 15:48] palisadoes commented on #18
@sumitra19jha Please unassign yourself from any work you don't plan to do. Let's give others a chance to participate.

[2021-05-18 15:53] sumitra19jha commented on #18
Sure @palisadoes

[2021-05-18 16:50] yasharth291 commented on #19
hello @palisadoes sir

[2021-05-19 03:52] ssaumyaa7 opened #43 "Feature request"
**Is your feature request related to a problem? Please describe.**
This is a new feature that can be added when a person register themselves with any organisation.

**Describe the solution you'd like**
Any person registered as attendee for any organisation should be given choice to volunteer the event.

**Approach to be followed (optional)**
Add a new feature of the volunteers while registering fo

[2021-05-19 05:32] XshubhamX commented on #43
@ssaumyaa7 I think these tasks will be performed by the talawa app, admin portal should be used for CRUD operations on the organization. So the work needs to be done in talawa and talawa-API. Further, you can ask mentors about that.

[2021-05-19 06:38] ssaumyaa7 commented on #43
@XshubhamX If so then the admin portal should have a list of volunteers associated with the specific organization.
Further rest depends on mentors as in where to add this feature.

@Sagar2366 sir @palisadoes sir

[2021-05-20 17:18] yasharth291 commented on #20
@DangaRanga  hello sir

[2021-05-20 17:20] DangaRanga opened #44 "Screen and Functionality for an Admin to Create, Delete and Block a User"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
The admin should be able to create a user, delete a user, completely block a user

Parent Issue:
#49

[2021-05-20 17:20] yasharth291 commented on #44
please assign me

[2021-05-20 17:22] DangaRanga opened #45 "Screen and Functionality for an Admin to read Flag Requests"
**Describe the solution you'd like**
The admin should be able to read flag requests made for users

Parent Issue:
#49

[2021-05-20 17:22] yasharth291 commented on #45
hello sir

[2021-05-20 17:23] yasharth291 commented on #22
hello sir

[2021-05-20 17:23] yasharth291 commented on #21
HEllo sir

[2021-05-20 17:25] DangaRanga opened #46 "Screens and Functionality for Admin to View Details of Organization Users"
**Describe the solution you'd like**
Admins should be able to view a list of the users and to view the details of the users when clicked

Parent Issue:
#49

[2021-05-20 17:25] yasharth291 commented on #46
hello sir

[2021-05-20 17:32] DangaRanga opened #47 "Screen and Functionality for Admins to View, Delete, Modify and Flag Comments/Posts"
**Describe the solution you'd like**
An admin should be able to view, modify, delete and flag comments or inappropriate posts from Talawa

**Describe alternatives you've considered**
This could also be automated using machine learning to check for inappropriate keywords as Talawa-Admin scales up

Parent Issue:
#49

[2021-05-20 17:33] yasharth291 commented on #47
hello

[2021-05-20 21:46] palisadoes commented on #17
@yasharth291 I'm going to unassign this from you as #36 was closed

[2021-05-20 21:48] palisadoes commented on #17
@yasharth291 Are you still working on this issue?

[2021-05-21 12:28] yasharth291 commented on #17
yeah sir i and @DangaRanga  sir are working together on it

[2021-05-21 12:33] yasharth291 commented on #17
if someone can do it then i will be happy to be assigned to anyone else

[2021-05-21 16:42] palisadoes opened #48 "Parent Issue: Talawa Organization Administration"
**Is your feature request related to a problem? Please describe.**
This is a parent issue for migrating Talawa organization creation out of the Talawa App.

Child issues:
#19
#20
#21
#22

[2021-05-21 16:48] palisadoes opened #49 "Parent Issue: User Administration"
**Is your feature request related to a problem? Please describe.**
This is a parent issue for a variety of user management feature issues

Child Issues:

#47
#46
#45
#44
#35

[2021-05-21 17:06] yasharth291 commented on #48
hlo sir

[2021-05-21 17:06] yasharth291 commented on #49
Hello sir

[2021-05-21 17:45] XshubhamX commented on #35
@yasharth291 When can we start work on this.

[2021-05-22 07:46] DangaRanga commented on #17
It should be good to go now

[2021-05-22 15:26] #17 closed

[2021-05-22 17:41] utkarshshendge opened #51 "Functionality to pin posts."
**Is your feature request related to a problem? Please describe.**
Pinning of the posts is the desired functionality and needs to be done by the admin.
See Talawa docs: [pinned-posts](https://palisadoesfoundation.github.io/talawa-docs/docs/features/news%20feed/pinned-posts)

**Additional context**
The design to display pinned posts is ready: Figma [prototype](https://www.figma.com/proto/GdvI0NPxsI

[2021-05-22 18:27] utkarshshendge commented on #19
@yasharth291 @DangaRanga I'd like to know if the organization's photo will also be added when the admin creates an organization.
Also, could you please specify what details of the organizations will be visible to users of the Talawa App?

[2021-05-22 18:54] yasharth291 commented on #19
please @utkarshshendge  ask peter sir and jason sir to what information will be taken

[2021-05-22 18:57] utkarshshendge commented on #19
@palisadoes could you please specify what details of the organizations will be visible to users of the Talawa App? I will create few child issues based on that.

[2021-05-22 19:35] palisadoes commented on #19
These would be the most useful. Let me know if you can think of others.

1. Organization Name
2. Physical Address
3. Phone number
4. Contact Email address
5. Administrator name and link to be able to chat to them

[2021-05-23 03:43] palisadoes opened #52 "Standardize GitHub Actions File Layout"
**Is your feature request related to a problem? Please describe.**

We need to have a standardized way of adding GitHub actions to the repository. [The preferred methodology is that done with the Talawa repo.](https://github.com/PalisadoesFoundation/talawa/tree/master/.github/workflows)

**Describe the solution you'd like**
1. Place all actions related to issues in the issues.yml file.
1. Place al

[2021-05-23 15:46] palisadoes opened #53 "Add the Ability to Disable Users"
**Is your feature request related to a problem? Please describe.**

There will be times when we will need to disable users, for example:

1. Breeches of codes of conduct
2. Users leave the organization's membership

**Describe the solution you'd like**

1. There must be screen for disabling users for an organization
2. The API must only accept this disabling from `talawa-admin`
3. The API must imm

[2021-05-23 16:07] yasharth291 commented on #53
Hello @palisadoes sir this will come under admin ability to delete user so i think this is a duplicate issue

[2021-05-23 16:37] palisadoes commented on #53
@yasharth291  I forgot, however in hindsight, we may not want to delete a user. Just disable them. Deleted users will have historical data that twe will want to maintain, chats, calendar entries, uploads share with others etc. If we delete them, where does the deletion stop? Disabling is a simpler solution

[2021-05-23 16:38] palisadoes commented on #53
@yasharth291 please work with @DangaRanga on the best solution. I think disabling is more prudent.

[2021-05-23 16:42] yasharth291 commented on #53
yeah sir i will add both options to delete and disable

[2021-05-23 21:43] palisadoes opened #56 "Add Test Coverage Check for Pull Requests as a GitHub Action"
**Is your feature request related to a problem? Please describe.**

1. The code base is insufficiently testable.
1. We need all code to be tested as part of each pull request.

**Describe the solution you'd like**

1. We need a way to add a GitHub action that automatically checks the codebase for the percentage coverage by tests.
1. The check should error out when the percentage is below a predefi

[2021-05-29 23:44] palisadoes opened #57 "JSON Language packs must be able to be uploaded to API from the Web Portal"
**Is your feature request related to a problem? Please describe.**

1. The mobile app currently has a set of pre-defined JSON files used for translating menu items
1. The API will store:
     1. Updated versions of existing files
     1. New files for previously unsupported languages

**Describe the solution you'd like**

1. New files for previously unsupported languages will need to be uploaded i

[2021-05-29 23:59] palisadoes opened #58 "Parent Issue: Fix Numerous GitHub Actions Issues"
**Describe the bug**

This is a tracking issue for these good starter issues for new contributors.

1. Standardize GitHub Actions file layout: https://github.com/PalisadoesFoundation/talawa-admin/issues/52
1. Add Test Coverage Check for Pull Requests as a GitHub Action: https://github.com/PalisadoesFoundation/talawa-admin/issues/56
1. Organise github workflow and add script: https://github.com/Pal

[2021-05-30 00:14] palisadoes opened #59 "Ensure that a Linter is included in the pull request GitHub Action workflow"
**Describe the bug**

1. Ensure that a code Linter is included in the pull request GitHub Action workflow
2. There is a [linter.yml] (https://github.com/PalisadoesFoundation/talawa-admin/tree/master/.github/workflows) in the repo, but it isn't clear whether it is actually being run in a pre-defined order.

**To Reproduce**

N/A

**Expected behavior**

N/A

**Actual behavior**

N/A

**Screenshots**

[2021-05-30 00:51] palisadoes opened #61 "GitHub Action: JavaScript Code Formatter"
**Describe the bug**

1. To reduce the risk of conflicting files, we need a standardized way of formatting the JavaScript code before a pull request.
2. [There are a number of solutions for this](https://www.google.com/search?q=GitHub+action+formatter+node.js&oq=GitHub+action+formatter+node.js&aqs=chrome..69i57j69i64.9200j1j7&client=ubuntu&sourceid=chrome&ie=UTF-8)

**To Reproduce**

N/A

**Expect

[2021-05-30 05:36] yasharth291 commented on #57
hello sir

[2021-06-02 15:29] palisadoes opened #62 "CodeQL GitHub Action Needs to Run Only on Pull Requests"
**Describe the bug**

The current [CodeQL GitHub Action configuration file](https://github.com/PalisadoesFoundation/talawa-admin/blob/develop/.github/workflows/codeql-analysis.yml) has a number of deficiencies. The file is located in our [workflows directory](https://github.com/PalisadoesFoundation/talawa-admin/blob/develop/.github/workflows)

1. It runs as a cron job on a regular basis. **This mu

[2021-06-06 11:49] akshatgarg12 commented on #62
@palisadoes  Can i work on this?

[2021-06-06 13:33] bonnie-23 opened #63 "Allow admin to accept or decline request to join organization request"
**From the admin portal an admin should be able to view join requests fro a private organization.**
- A screen should be presented to the admin where a list of join requests are presented
- The option must be presented for the admin to accept or decline the request
- If the admin accepts/ approves the request to join the organization the user is then added as a member of the organization
- if the

[2021-06-06 13:36] bonnie-23 opened #64 "Allow admin to moderate user activity for events, chats and posts"
**From the admin portal an administrator should be able to view all:**

- Group chats
- Events
- Posts

**For each item in group chat, event, posts the admin should be presented with additional options for each.**

- From the additional options menu the admin should have the option to remove the group chat, event or the post.
- The admin should be required to select from default reasons why the gr

[2021-06-06 14:05] bonnie-23 opened #65 "Allow users to send request to join private organizations"
**When a user views a private organization**

- The user should be presented with the option to send a request to join the organization.
- A notification should appear in the admin portal  for that organization.
- The administrator should have the option to approve or decline the request to join #63

[2021-06-06 14:23] bonnie-23 opened #66 "Allow admins to revoke membership to an organization"
**From the admin portal, the admin should be presented with the list of members in the selected organization**

- Additional options should be presented for each member
- An option should be presented to the admin to revoke membership to the organization for each member
- The admin must enter from a list of defaults the reason why membership is being revoked
- Once the admin revokes membership to

[2021-06-06 17:08] akshatgarg12 commented on #61
@palisadoes Can i work on this? I'll add [run-node-formatter](https://github.com/MarvinJWendt/run-node-formatter) in the github workflow

[2021-06-06 17:21] palisadoes commented on #62
@akshatgarg12 Are you able to work on this issue #58 too? This is an important step to making the workflows seamless.

[2021-06-06 17:28] palisadoes commented on #61
@akshatgarg12 You'll need to complete #52 first. We need a:

1. standardized layout for the files
2. predefined order for the execution of GitHub actions

Unpredictable ordering has created difficulties in the past.

[2021-06-06 17:43] akshatgarg12 commented on #62
@palisadoes Sure sir, assign it to me.

[2021-06-06 17:48] palisadoes commented on #62
1. @akshatgarg12 Comment on #58 so I can assign it to you.
1. Create PRs for the CodeQL work for the `alpha` and `master` branches. Against this issue #67

[2021-06-06 17:52] akshatgarg12 commented on #58
@palisadoes assign it to me.

[2021-06-07 08:01] akshatgarg12 commented on #58
@palisadoes I have separated actions for pull-request and issues in separate files, can you confirm whether this order of action in PR Workflow is suitable or should i change it.
1. The Greeting message
2. Linting runs (we can add code formatter just before lint check #61 )
3. Then it runs the test (continuous integration) [after this we can add the codecov #56]
4. Code QL analyse
![Screenshot 202

[2021-06-07 18:00] palisadoes commented on #58
@akshatgarg12 Yes that is the correct order. Please proceed.

[2021-06-07 18:28] akshatgarg12 commented on #58
@palisadoes With CodeQL configured in pull-request.yml i am getting this warning also. Although the action in running in the PR flow.

![Screenshot 2021-06-07 at 11 45 45 PM](https://user-images.githubusercontent.com/60404253/121069089-b5204e00-c7ea-11eb-8514-56d86639b37b.png)

Along with the one action in PR flow, its creating a second action for CodeQL separately also, which is not resolving and

[2021-06-07 19:33] palisadoes commented on #58
So CodeQL is being run twice? Which one is failing? The standalone item or the ones in PR flow? If PR flow is working and using CodeQL then that's the one we should keep

[2021-06-07 19:39] akshatgarg12 commented on #58
Yes it's being run twice, the standalone one is failing. I have not configured it to run a standalone action, don't know why its running

[2021-06-08 03:01] palisadoes commented on #58
@akshatgarg12 Do you still have the standalone codeql YAML file in the `.github/workflows` directory? If it is, that may be the reason it's running twice.

[2021-06-08 03:06] palisadoes commented on #58
@akshatgarg12

1. The CodeQL [README.md](https://github.com/github/codeql-action) has a section _**If you prefer to integrate this within an existing CI workflow, it should end up looking something like this:**_ that should help.
1. There is also a [Configuration File section](https://github.com/github/codeql-action#configuration-file) that should help fix the issue of not finding the correct bran

[2021-06-08 04:58] akshatgarg12 commented on #58
Noo I have removed it

[2021-06-08 19:34] yasharth291 opened #74 "Improve the current UI"
the current UI of the admin panel is not according to the figma designs. Someone can take this issue to improve the UI

link of the figma UI https://www.figma.com/file/KMO0QXuppBfxH9PyuI5mn2/Talawa-Admin?node-id=1%3A4

[2021-06-10 04:17] ssaumyaa7 opened #76 "Figma design - add registration option too"
The current Figma design has just one entry point that is the login page.
![pali1](https://user-images.githubusercontent.com/64359826/121460772-29194c80-c9cb-11eb-90c1-f2e29e5f274f.PNG)

There is a big question that how organization would register and get verified to have their own account.
Every organization account created should be verified by a few documents and organization should be register

[2021-06-10 05:07] ssaumyaa7 commented on #76
The organization creator (super admin) needs to be verified and registered else anyone can register themselves as super admin so for anyone to apply as super admin we need them to register then we can verify them and only after super admin can be assigned and we can move further.

[2021-06-10 05:11] ssaumyaa7 commented on #76
The question is why should super admin be allowed to register ?
Well, I think the admin portal should be open to people across, people can register but only the ones who are verified can become super admin and can create an organization.

@DangaRanga

[2021-06-11 06:30] DangaRanga commented on #76
Good day Samuya, I apologize for the late response
I do agree that super admins should be able to register for accounts, which would include adding their organization, along with the administrators that may fall underneath their organization, but I'll have to confirm  if this was one of the requirements of Talawa-Admin or if we had another method for giving Super Admins and Admins access to Talawa

[2021-06-11 07:28] ssaumyaa7 opened #77 "Use button instead of input field"
![btn](https://user-images.githubusercontent.com/64359826/121648865-97d2d480-cab5-11eb-9b79-606e01741772.PNG)
The login button in the develop branch on the login page is made using the input field.
This shows inconsistency in code and using input field for the button is wrong according to new design rules.

@palisadoes sir would like to work on this issue.

**Additional details**
GitHub Externship

[2021-06-11 07:30] ssaumyaa7 opened #78 "Add appropriate spacing for better UX"
All the components should have a uniform padding margin, the inconsistency will lead to bad UI/UX.

Further, the login page is not placed on the page properly. It is in the corner leading to not so good display.

Many of the components fail to follow the same and are different from the Figma design suggested.

@palisadoes sir would like to work on this issue.

**Additional details**
GitHub Externs

[2021-06-11 07:44] ssaumyaa7 opened #79 "Make website responsive"
The admin portal is not responsive on any screen sizes. This is a problem as the admin might access it through different screens and variation in UI would not result in a good user experience.

@palisadoes sir would like to work on this issue.

![res](https://user-images.githubusercontent.com/64359826/121650243-fea4bd80-cab6-11eb-94d0-54bd2f102e1d.PNG)

**Additional details**
GitHub Externship : 1

[2021-06-11 07:48] yasharth291 commented on #78
@ssaumyaa7  it is not recommended to use padding

[2021-06-11 07:51] yasharth291 commented on #79
@palisadoes i don't think sir the admin panel should be responsive as it is mainly for the use of desktop

[2021-06-11 07:53] ssaumyaa7 commented on #76
Yes sir this will give better insight to user's about the working of the Talawa app and will give every organization a chance to get themselves registered for the same.

If assigned I would like to move ahead to present a design for the same.

1. Get super admin register
2. verify the organization they work for by ID proof
3. get OTP and email verification
4. after that allow login of super admin

[2021-06-11 07:54] ssaumyaa7 commented on #79
@DangaRanga sir,
@yasharth291 if with minor changes we can make it responsive than I think that would add bonus

[2021-06-11 07:55] yasharth291 commented on #76
@ssaumyaa7 on question who will be verifying the super admins

[2021-06-11 07:59] ssaumyaa7 commented on #78
@yasharth291 keeping that in mind will add margins, as there are places where buttons and fields need to be placed a little differently else the buttons would look a little too close for the view

for example without any margins :
![m1](https://user-images.githubusercontent.com/64359826/121652191-06656180-cab9-11eb-9e00-8cc061851bbd.PNG)

After adding margins :
![m2](https://user-images.githubuser

[2021-06-11 08:16] ssaumyaa7 commented on #76
@yasharth291 let's discuss this with @DangaRanga sir, because for now, someone is adding super admin on backend right that's the flow for now.
Moreover, without the right verfication, it's not so good to allow them to create organization and events.

Once getting a headstart on this feature will work more to join all the edges for the right flow.

[2021-06-11 08:35] ssaumyaa7 opened #80 "develop branch"
Navbar is only perfectly visible on laptop screen: 1440 x 570
Besides that, the navbar is not perfectly placed on either the laptop screen greater than 1440 x 570 neither on the laptop screen 1024 x 570.

Talawa logo goes missing on laptop screen change :
![nav](https://user-images.githubusercontent.com/64359826/121657282-e4baa900-cabd-11eb-9644-ea413bb1b3a2.PNG)

Need to improve this. (at least f

[2021-06-11 08:36] yasharth291 commented on #80
i think this will come under responsive so its duplicate

[2021-06-11 11:54] DangaRanga commented on #78
Thanks much for the insight's Saumya, responsiveness for the varying screen sizes is something we do need to achieve for all of the screen sizes on Talawa going forward.

I can also see that this issue's title was duplicated a few times, but at first glance it doesn't provide much detail as to what the issue is about so please use descriptive titles when creating issues.

One appropriate title for

[2021-06-11 14:56] ssaumyaa7 commented on #78
@DangaRanga sir, I Will be more descriptive with the title while raising the issue.

@palisadoes sir, please assign me this issue.

Thank you.

[2021-06-11 15:23] palisadoes commented on #78
@ssaumyaa7 You can also ask @DangaRanga to assign issues in future.

[2021-06-12 02:49] ssaumyaa7 opened #81 "functions are inside fields"
It is good to write the function outside of the fields.

Why ?
Because in the future there will be a point where we will check more conditions for onChange of either email or password. For example, we may need to check for errors or regex checks then writing them outside is better in way of coding as well as for any person working to understand and rework on code.

onChange Function can be written

[2021-06-12 06:27] yasharth291 commented on #81
keep in mind we can't use classes

[2021-06-12 06:32] yasharth291 commented on #81
and @ssaumyaa7 this code is temporarily written for any onchange value we will change it once all the pages are made so i think @palisadoes this issue can be closed

[2021-06-12 06:33] yasharth291 commented on #80
@palisadoes this issue is duplicate and could be closed

[2021-06-12 10:51] Sagar2366 commented on #80
@yasharth291 please mention duplicate issue as well here.

[2021-06-12 10:53] Sagar2366 commented on #79
@ssaumyaa7 use issue template while creating new issues and always  provide meaningful title to it.

[2021-06-12 11:06] yasharth291 commented on #80
#79

[2021-06-12 11:32] Sagar2366 commented on #80
Great, @ssaumyaa7 please mention all your observations in issue 79.

[2021-06-12 11:32] #80 closed

[2021-06-12 11:45] yasharth291 commented on #81
@Sagar2366  sir this also could be closed as it will be implemented in near future

[2021-06-12 13:00] Sagar2366 commented on #81
Though I agree we may need to relocate some of these functions outside or keep them outside to avoid duplication of code, whenever needed we can open new issue for that. @ssaumyaa7 for now closing this issue.
If you have any good reason to keep it open, feel free to discuss and we can reopen it again.

[2021-06-12 13:00] #81 closed

[2021-06-12 13:22] ssaumyaa7 commented on #81
@Sagar2366 sir, when should we start working on such issue as @yasharth291 mentioned to be duplicate issue...
I didnt exactly understand when should we raise this issue ...
could you please explain so that I'll avoid raising code improvement issue from now on.

[2021-06-12 13:27] yasharth291 commented on #81
this one is not duplicate issue is when you have covered the issue in past issues

[2021-06-15 18:41] ssaumyaa7 opened #85 "recreate organization home-page"
**Describe the bug**
1. Not according to Figma design
2. Could have better UI/UX
3. Need to be screen adaptable
4. Non-uniform spacing
5. Inconsistent sizing of components

**Expected behavior**
1. Edit Figma design for better UI/UX
2. Have engaging web-page construction
3. Provide responsiveness
4. Consistency in components and elements on the page

**Screenshots**
![palisa3](https://user-images.

[2021-06-16 16:19] palisadoes commented on #85
@ssaumyaa7 Please provide a Figma design you'd like to use instead. Please share it on the #talawa-design slack channel before approval. This is what @yasharth291 had to do too.

[2021-06-16 16:23] yasharth291 commented on #85
Sir i have shared it in the talawa design

[2021-06-16 16:23] palisadoes commented on #85
@yasharth291 The design that @ssaumyaa7  is considering or the one that we are using now?

[2021-06-16 16:25] yasharth291 commented on #85
we are using now because saumya hasn't changed anything till now

[2021-06-16 16:28] ssaumyaa7 commented on #85
@palisadoes sir, @yasharth291 , there are very minor changes that I'll change and share on slack soon.

[2021-06-17 17:13] ssaumyaa7 commented on #85
@DangaRanga sir, please assign me

[2021-06-19 10:23] ssaumyaa7 commented on #74
@DangaRanga sir , assign me this ... it will be considered under the pull request #84

[2021-06-20 15:43] #74 closed

[2021-06-20 15:43] #77 closed

[2021-06-20 15:43] #78 closed

[2021-06-20 15:43] #79 closed

[2021-06-24 04:56] ssaumyaa7 opened #88 "New navbar and sidebar"
**Is your feature request related to a problem? Please describe.**
Right now the NavBar is too broad and wide as well as the sidebar, they are acquiring a lot of area on the screen.

Screenshot:
![newpaliissue](https://user-images.githubusercontent.com/64359826/123204518-e7fa5f80-d4d5-11eb-8736-87c2e4093d0f.PNG)

**Describe the solution you'd like**
I would like to reduce and resize them to the ne

[2021-06-26 12:59] #88 closed

[2021-06-28 07:48] AdityaBirangal opened #91 "Check-ins functionality - Admin Portal"
**Is your feature request related to a problem? Please describe.**
- Organiser need know to how many registered users actually attended event
- Verify identity to give entry

**Describe the solution you'd like**
In first way organiser should be able to mark check-in from admin portal also
![Talawa Event Check-ins-2](https://user-images.githubusercontent.com/43909309/123597830-74c45680-d811-11eb-98

[2021-07-02 15:27] ssaumyaa7 commented on #76
@palisadoes sir @DangaRanga sir, please assign me this, I would like to work on it.

[2021-07-03 18:52] yasharth291 commented on #27
@DangaRanga sir this can be closed now

[2021-07-05 20:49] #85 closed

[2021-07-06 04:43] ssaumyaa7 opened #93 "create Main User Page"
**Is your feature request related to a problem? Please describe.**
Right now admin portal doesn't have the main user page, so I want to work on that.

**Describe the solution you'd like**
Work on the main page as per the Figma design

**Additional details**
GitHub Externship : 19-05_Sin666_tfa_262

Please assign me this task @DangaRanga sir, @palisadoes sir

[2021-07-10 19:56] #27 closed

[2021-07-11 22:25] #46 closed

[2021-07-11 22:25] #35 closed

[2021-07-13 17:56] xsh2047 opened #97 "[Feature Enhancement] Allow for admins to add & remove members from an organization"

[2021-07-13 18:03] xsh2047 opened #98 "[Feature request] Add the ability to manage group chats"
Administrators should be able to:
1. Create group chats
2. Update a group chat
3. Delete a group chat

[2021-07-13 18:13] xsh2047 opened #99 "[Feature request] Allow for the management of events by admins"
Administrators should be able to:
1. Create events
2. Update an event
3. Delete an event

[2021-07-13 19:39] xsh2047 opened #100 "[Feature request] Ability to view Attendee List/ Roster"

[2021-07-13 19:41] xsh2047 opened #101 "[Feature request] Add the ability to create paid/ donation based event"

[2021-07-13 19:50] xsh2047 opened #102 "[Feature request] Event Scheduling"
Administrators should be able to schedule events.

[2021-07-13 19:57] xsh2047 opened #103 "[Feature request] Event Calendar Overview"
The admin portal should allow admins to see/navigate all events from a Calendar View.

[2021-07-17 20:20] xsh2047 opened #105 "[Feature request] Preapprovals"
### Problem
Anyone is able to sign up for an organization within the application:
We need a method for administrators to pre-approve users. Additionally, we need to assume that users may not have access to email and that text message service integration will not be immediately available.

### Goals
Allow for a secure method of approving new members to an organization within the app : Enable the ad

[2021-07-17 20:23] xsh2047 opened #106 "[Feature request] Access Banning"
### Problem
Access to an organization's information is sensitive : As such if a member's intentions is deemed as malicious or of no benefit to the organization, or if a member loses access to his/her device/account, there needs to be a method for limiting access for that device/account.

https://palisadoesfoundation.github.io/talawa-docs/docs/features/members/members-banning#_1jkn6vnliixl

[2021-07-17 20:26] xsh2047 opened #107 "[Feature request] Access Recovery"
### Problem
**Users may lose access to their device/account:**
The losing of access to one's account prevents them from being productive and informed within an organization.

**Important Details To Capture**
Information on account recovery should be captured in logs and displayed within the admin portal.

[2021-07-20 08:31] DangaRanga opened #108 "Replace CodeQL in GitHub Actions: Deprecation"
**Is your feature request related to a problem? Please describe.**
After experiencing quite some difficulty to get CodeQL consistently running for all, we have come to the decision to remove the workflows that use CodeQL.

**Describe the solution you'd like**
In light of this, we will have to find another static code analysis tool to scan the code base for anti-patterns and potential vulnerabiliti

[2021-07-21 19:42] #93 closed

[2021-07-21 19:45] ssaumyaa7 opened #109 "create new UI/UX design for Organization"
**Is your feature request related to a problem? Please describe.**
Create new UI/UX

**Describe the solution you'd like**
More understandable and detailed UI/UX.

**Additional details**
GitHub Externship : 19-05_Sin666_tfa_262

@DangaRanga sir, please assign this to me

[2021-08-01 09:19] ssaumyaa7 opened #111 "New pages (according to new design)"
**Is your feature request related to a problem? Please describe.**
Adding few pages according to the new design

[2021-08-02 07:40] #111 closed

[2021-08-03 03:26] palisadoes commented on #108
@uzair-ali10 This may be interesting for you

[2021-08-04 08:20] ssaumyaa7 opened #113 "Adding components and pages"
**Is your feature request related to a problem? Please describe.**
Create components and adding further pages ( login and super admin organization list already added ).

**Additional details**
GitHub Externship : 19-05_Sin666_tfa_262

[2021-08-06 17:23] #113 closed

[2021-08-11 08:19] ssaumyaa7 opened #117 "Adding events page"
**Is your feature request related to a problem? Please describe.**
New Page

[2021-08-12 15:07] #117 closed

[2021-08-13 17:35] ssaumyaa7 opened #120 "New page - contributions"
**Is your feature request related to a problem? Please describe.**
Adding new pages and components for contributions

[2021-08-15 05:29] #120 closed

[2021-08-16 04:32] ssaumyaa7 opened #122 "Adding posts page"
**Is your feature request related to a problem? Please describe.**
Adding new page and component

[2021-08-16 18:05] #122 closed

[2021-08-16 21:44] #19 closed

[2021-08-16 21:44] #22 closed

[2021-08-16 21:47] #44 closed

[2021-08-16 21:47] #47 closed

[2021-08-16 21:49] #53 closed

[2021-08-17 05:25] ssaumyaa7 opened #125 "Navbar Functionalities"
**Is your feature request related to a problem? Please describe.**
Adding and editing changes in navbar

[2021-08-17 19:03] #125 closed

[2021-08-17 20:32] ssaumyaa7 opened #127 "Adding Admin Member display"
**Is your feature request related to a problem? Please describe.**
Adding more changes on users page.

[2021-08-17 21:00] #127 closed

[2021-08-18 10:57] ssaumyaa7 opened #129 "Adding settings functionalities"
**Is your feature request related to a problem? Please describe.**
Adding new pages and components for settings of organization.

[2021-08-18 15:47] #129 closed

[2021-08-18 16:11] #20 closed

[2021-08-18 16:11] #99 closed

[2021-08-18 16:11] #102 closed

[2021-08-18 16:11] #21 closed

[2021-08-18 16:11] #48 closed

[2021-08-18 16:14] DangaRanga opened #132 "[Child Issue] Remove members from an organization by Admin"
**Describe the solution you'd like**
Organization Administrators should be able to remove members from an organization

Child issue for #97

[2021-08-18 16:14] #132 closed

[2021-08-18 16:15] #97 closed

[2021-08-19 06:12] ssaumyaa7 opened #133 "Sign Up / Register via Admin Portal"
**Is your feature request related to a problem? Please describe.**
In the previous design, the register functionality via Admin Portal was missing.
Aiming to create signup using the admin portal.

**Describe the solution you'd like**
Take necessary input validate & check entered details. Create user and login to continue using the admin portal.

[2021-08-19 19:04] #43 closed

[2021-08-19 19:04] #133 closed

[2021-08-19 21:45] yasharth291 commented on #76
@DangaRanga  its done you can close it

[2021-08-19 21:45] yasharth291 commented on #49
@DangaRanga  its done you can close it now

[2021-08-19 21:46] yasharth291 opened #136 "Completing the setting Page"
@DangaRanga

[2021-08-20 00:57] #76 closed

[2021-08-20 00:57] #49 closed

[2021-08-20 03:50] ssaumyaa7 commented on #109
@DangaRanga sir is can be closed now!

[2021-08-20 04:03] #109 closed

[2021-08-20 07:29] ssaumyaa7 opened #137 "Landing Page and design of all the forms"
**Is your feature request related to a problem? Please describe.**
Creating landing page and improvising all the css of the forms.

[2021-08-21 00:01] #137 closed

[2021-08-21 15:51] yasharth291 opened #139 "block user and unblock user from a organization"
@DangaRanga

[2021-08-21 15:56] yasharth291 opened #140 "accept or reject joining request"
@DangaRanga

[2021-08-21 21:24] DangaRanga commented on #140
This is a duplicate of #63

[2021-08-21 21:25] DangaRanga commented on #139
This seems to be a duplicate for #66

[2021-08-22 10:37] ssaumyaa7 opened #142 "create, display, delete - post"
**Is your feature request related to a problem? Please describe.**
A page to create posts, display, and delete posts by the organization. Adding mutations and query for the same.

[2021-08-23 14:26] #63 closed

[2021-08-23 14:26] #136 closed

[2021-08-23 14:26] #140 closed

[2021-08-26 19:07] yasharth291 opened #143 "Commenting the whole code"
@DangaRanga

[2021-08-27 02:48] #143 closed, assigned to yasharth291

[2021-09-03 00:50] #142 closed

[2021-09-06 14:57] ssaumyaa7 opened #146 "Add tests for all the pages and components"
**Is your feature request related to a problem? Please describe.**
Add tests for all the frontend page components and pages

[2021-09-12 17:17] DangaRanga opened #147 "[Enhancement] Replace default browser confirmation prompts with React Bootstrap prompts"
**Is your feature request related to a problem? Please describe.**
Currently browser native prompts are being used for confirming user input such as `window.confirm`, `window.alert` and `window.prompt`

**Describe the solution you'd like**
These should be replaced with React Bootstrap alternatives to improve the consistency in the UI of the application, whilst also improving the user experience.

[2021-09-14 21:01] xsh2047 opened #148 "[Feature] Allow further extensibility of the platform through the adoption of plugins within the app"
Plugins are an intigral part of talawah that will allow the community to create and expand on its core functionallity wereby allowing talawah to grow exponentially.

https://palisadoesfoundation.github.io/talawa-docs/docs/features/plugins/plugins-overview

[2021-09-25 17:43] palisadoes commented on #56
@muskan399 This is something that may interest you too seeing that you've worked with GitHub actions before.

[2021-09-29 12:18] #148 closed

[2021-10-08 15:25] BNivia opened #151 "Event Creation Bug (UWI_SWEN3120_area_group1)"
**Describe the bug**
talawa-admin site crashes when attempting to add an event.

**To Reproduce**
Steps to reproduce the behavior:

1. Log in to talawa-admin as a super admin
2. Navigate to organization
3. Navigate to events
4. Select the option to add/create an event
5. Fill in event details
6. Press submit/enter

**Expected behavior**
The add event feature should add an event for that organizati

[2021-10-22 05:27] naomitheqa opened #152 "In Code Documentation - SWEN3120Group1"
**Describe the bug**
No identified in code documentation for the components  which outlines their behavior, documentation on any functions it may contain and so on.

[2021-11-19 13:31] karan2704 commented on #147
Can I work on this issue?

[2021-11-19 14:18] DangaRanga commented on #147
Sure thing!

[2021-11-19 19:23] yasharth291 opened #157 "Make the Testing code coverage to 90% of the current code limit [Parent Issue]"
The talawa admin needs major of its code to be automated tested by the pre-written unit tests along with the API calls check during the process while running ```yarn test```

There will be sub-parts for this parent issue according to the screens the issues would be divided into categories to define and reduce the problem of the participants solving the issue.

It will be closed once all the child

[2021-11-19 19:25] yasharth291 opened #158 "Login Page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:27] yasharth291 opened #159 "Organization contribution Page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:28] yasharth291 opened #160 "Organization list page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:30] yasharth291 opened #161 "Organization Post page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:30] yasharth291 opened #162 "Organization Setting page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:31] yasharth291 opened #163 "Organization dashboard page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:32] yasharth291 opened #164 "Organization event page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-19 19:33] yasharth291 opened #165 "Organization people page unit testing"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% unit test code coverage.

*Parent Issue*
- #157

The testing in this issue will only be considered complete if the added or modified test code contains:

1. Unit tests done for all methods, classes and functions related to this page.
2. Integration tests
3. End to end tests (E2E)

[2021-11-20 05:22] karan2704 commented on #147
I'm getting a series of eslint / prettier errors when a change the code even slightly. How do I resolve this?
![err](https://user-images.githubusercontent.com/59208977/142715458-65847f3c-cef6-45cc-b128-fcb7945af45b.JPG)

[2021-11-20 06:14] karan2704 commented on #147
I have made some changes on the login/register page but I'm not able to register ... it shows 'failed to fetch' error.
How do I resolve this?

[2021-11-20 07:10] yasharth291 commented on #147
just type ```yarn format```

On Sat, Nov 20, 2021, 11:45 AM Karan Mishra ***@***.***>
wrote:

[2021-11-21 02:58] karan2704 commented on #147
The issue persists
![reg](https://user-images.githubusercontent.com/59208977/142747682-2e0e0dc9-98a7-4f70-b58a-b26146162b28.JPG)

[2021-11-22 16:00] karan2704 commented on #147
Can someone help me out in understanding what the above issue is about? It seems like a problem with backend integration.

[2021-11-22 19:05] yasharth291 commented on #147
I think you haven't read the things provided in readme first you have to run the API locally on your computer then only you will be able to run it

[2021-11-23 20:10] karan2704 commented on #147
Ok, I've set up the API .. working on the issue now. Thanks!

[2021-11-24 10:22] reachaadrika opened #166 "Feature : LOGO REPLACEMENT"
**Is your feature request related to a problem? Please describe.**
The Talawa Admin website , still shows the default React Icon in the title .

**Describe the solution you'd like**
The default react icon should be replaced with the Original Palisadoes Foundation icon .

**Describe alternatives you've considered**
Replacing the icon with original Palisadoes icon .

**Approach to be followed (optio

[2021-11-24 10:23] reachaadrika commented on #166
If this is a valid issue can I work on this

[2021-11-24 13:00] yasharth291 commented on #166
go on @reachaadrika

[2021-11-24 14:43] reachaadrika commented on #166
Thank You @yasharth291 !

[2021-11-25 10:00] reachaadrika commented on #166
Done with the PR !

[2021-11-25 17:49] karan2704 commented on #147
Commits are to be made in the develop branch, right?

[2021-11-26 17:12] palisadoes commented on #147
Yes

[2021-11-26 17:12] palisadoes commented on #147
Yes

[2021-11-28 15:50] xsh2047 opened #170 "[Feature][Plugins] Refactor UI Components"
Refactor UI Components to extend plugin components. This will allow for a consistent experience throughout the application when working with plugins for extending features.

[2021-11-28 15:56] xsh2047 opened #171 "[Feature][Plugins] Unit Testing for plugins functionality"
Tests are required to be written for the core plugin functionality

[2021-11-28 16:59] palisadoes opened #172 "Etiquette - Low Quality Issues and PR's"
[Please follow this link for details](https://github.com/PalisadoesFoundation/talawa/issues/1152)

[2021-12-08 17:46] Prathamesh010 commented on #56
Can i work on this issue?

[2021-12-10 06:08] Devesh21700Kumar opened #174 "Lint errors on running the project"
**Describe the bug**
Lint errors are seen on running the project locally.

**To Reproduce**
Steps to reproduce the behavior:

1. Run yarn serve on WIndows 11 OS.
2. RUn yarn lint --fix to see the *no files matched error*

**Expected behavior**
There should not have been any linting errors

**Actual behavior**
`No files matching the pattern "'**/*.{ts,tsx}'" were found. Please check for typing mist

[2021-12-10 17:26] palisadoes commented on #174
@Devesh21700Kumar Please submit a PR for this.

[2021-12-10 17:33] Devesh21700Kumar commented on #174
#175 is the PR which resolves this issue

[2021-12-10 18:16] AvneetSingh2001 opened #176 "first-interaction action check fails due to deprecated workflow event"
**Describe the bug**
The first time interaction GitHub action doesn't work.
When a user submits a PR for the first time in talawa, the first interaction action fails.

**Expected behavior**
The GitHub action checks must pass on pull request from a new contributor

**Actual behavior**
The GitHub action checks fail due to lack of required permissions.

**Screenshots**
<img width="300" alt="Screensho

[2021-12-10 19:39] yasharth291 commented on #174
Wait a minute @Devesh21700Kumar  could you write while the server is running in the terminal. It would be better is you could make a screen recording of reproducing the issue, please. it is not at all clear to me.

[2021-12-10 19:39] yasharth291 commented on #176
go on @AvneetSingh2001  best of luck

[2021-12-10 20:00] #166 closed

[2021-12-11 10:04] reachaadrika opened #178 "Feature request : Bottom Border (Below Register )"
**Is your feature request related to a problem? Please describe.**
In the current landing page of Talawa-Admin , the Bottom border , (one below the Register heading ) is a bit too long than the text itself and looks a bit absurd and weird  .

**Describe the solution you'd like**
Instead we could have the bottom border , only when we hover on the Register text , or we can have the border bottom of

[2021-12-11 10:06] reachaadrika commented on #178
If this is a valid issue , Can I work on this ?

[2021-12-12 07:26] Devesh21700Kumar opened #179 "[Help-Needed] Error while running project"
While running Talawa-admin I get this error

![image](https://user-images.githubusercontent.com/59202075/145704101-39533d5e-ed0c-49fe-a8f2-c267ca64fce7.png)

I am running the talawa-api server which is on localhost:4000 but it seems that some other stuff has to be run in localhost:30005 as well.

What exactly do I need to run locally to fix this error?

[2021-12-12 09:29] Prathamesh010 opened #180 "Add a Logout Button on Organization list page"
**Is your feature request related to a problem? Please describe.**
Currently, there is no logout option on the site, except the one that logs the user out of the organization page.
If a user wants to log out he has to manually go to the '/' route and the local storage is cleared which is not a widely used logout flow.

**Describe the solution you'd like**
Add a Logout Button on the /orgList page.

[2021-12-12 15:23] palisadoes commented on #179
@yasharth291 Please respond.

[2021-12-12 15:36] palisadoes commented on #180
@ Prathamesh010 Good observation. I've assigned the bug to you.

Do you want to work on it?

[2021-12-12 15:55] Prathamesh010 commented on #180
Yes, i am working on it.

[2021-12-13 04:39] reachaadrika commented on #178
@palisadoes @yasharth291 Should I properly align the border bottom or remove it and only get it when hovered on register ?

[2021-12-13 07:46] AvneetSingh2001 commented on #176
Hey @yasharth291, This issue is already solved in this repo. So, I should close this issue. Thanks a lot for assigning me this.

[2021-12-13 07:46] #176 closed

[2021-12-13 16:07] Devesh21700Kumar commented on #179
@yasharth291  What do i run to avoid error in fetching from localhost:3005 ?

[2021-12-14 15:20] yasharth291 commented on #179
Sorry @Devesh21700Kumar @palisadoes  for the late reply I was out of station for some time and will be seeing this issue tomorrow

[2021-12-14 15:21] yasharth291 commented on #174
closing issue as it is already solved

[2021-12-14 15:21] #174 closed

[2021-12-14 15:22] yasharth291 commented on #152
Is this issue still active @BNivia

[2021-12-15 17:30] #147 closed

[2021-12-15 17:30] #180 closed

[2021-12-16 10:59] yasharth291 opened #185 "Remove Linting Warnings"
**Describe the bug**
We need to remove all the linting warnings that are coming

the thing to make is ```yarn lint``` will produce this and then we should fix this accordingly

[2021-12-16 11:12] yasharth291 opened #186 "About the recent Merge in the repo"
**Describe the bug**
The recent merge will fail in linting errors and some of them should be removed as soon as possible. I would encourage @karan2704  to take up this bug as all the lining errors are related to the code he wrote in recent times.

**To Reproduce**
Steps to reproduce the behavior:

1. type ```yarn lint```

[2021-12-16 13:15] palisadoes commented on #185
@yasharth291
- Please provide the commands that people can use to reproduce the issue you want to fix.
- Please provide sample output of what needs to be fixed.

[2021-12-16 13:17] palisadoes commented on #186
@yasharth291
- Is this something we can add to the GitHub action so that the problem doesn't happen again?
- If so, should we create a new issue for the GitHub action?

[2021-12-16 13:18] yasharth291 commented on #185
@palisadoes
done sir

[2021-12-16 16:00] karan2704 commented on #186
Yes I'm looking into it. I faced similar linting issues when I ran the app on my system. At that time I fixed it using `yarn lint-fix` but the problem persisted after I changed some files and I had to run the same command and restart the app every time I made changes. Is it a problem on my end and if not then please guide me on how to go about it since I am not quite familiar why eslint error occu

[2021-12-16 17:26] palisadoes commented on #186
@ karan2704 We are going to need this included in our GitHub actions. We don't want to have this repeat itself. Let me know if this is something you can do?

[2021-12-16 17:46] karan2704 commented on #186
Okay... I'll work on it

[2021-12-16 22:21] Rottenblasters commented on #61
@palisadoes can I work on this issue if its no one is working on it ?

[2021-12-16 22:31] palisadoes commented on #61
@Rottenblasters [Looking at the GitHub Action for pull requests](https://github.com/PalisadoesFoundation/talawa-admin/blob/develop/.github/workflows/pull-requests.yml), we already have the following running for each Pull Request

- a Linter
- CodeQL
- Tests

I think this issue is already complete.

@yasharth291 is my analysis correct?

[2021-12-17 09:32] reachaadrika commented on #152
@yasharth291  Is @BNivia  Working on this  issue ?

[2021-12-17 09:32] reachaadrika commented on #152
@yasharth291  Is @BNivia Working on this issue ?

[2021-12-17 16:08] Tejas-Ladhani commented on #186
Hey, is this fixed ?? am still getting the linting errors on the first run

[2021-12-17 16:19] karan2704 commented on #186
@Tejas-Ladhani  Try running `yarn lint-fix` then restart the app if you haven't done that already. I'll generate a PR for this by tomorrow.

[2021-12-17 16:29] Tejas-Ladhani opened #188 "Bug report: "Module '\"@testing-library/react\"' has no exported member 'screen'.""
**Describe the bug**
the "screen" which is being imported from "@testing-library/react" (@testing-library/react/types/index.d.tx) has no export member with the name "screen".

**To Reproduce**
Steps to reproduce the behavior:
1. running application on localhost via the stable version of yarn ( that is, running ```yarn serve```)

**Screenshots**
![image](https://user-images.githubusercontent.com/67

[2021-12-17 16:35] Tejas-Ladhani opened #189 "Issue Report Guidelines : no #gsoc-newissues channel exists"
**Describe the bug**
It seems like the "Issue Report Guidelines" are not updated.

**Screenshots**
![image](https://user-images.githubusercontent.com/67834407/146577406-b2730a92-d663-4bdd-8849-b8863417aece.png)

I would like to make the possible changes.

[2021-12-17 16:46] Tejas-Ladhani commented on #186
@karan2704, Yes I have , even after that, I am getting 10 errors (+72 warnings)

[2021-12-17 17:48] palisadoes commented on #189
@Tejas-Ladhani the slack channel exists, it doesn't currently have any historical activity, but it exists. [Please join our slack channel to verify.](http://slack.palisadoes.org)

[2021-12-17 19:33] palisadoes commented on #188
@ Tejas-Ladhani Do you want to work on this?

[2021-12-17 20:02] veerreshr commented on #185
is someone working on this? if not could you please assign it to me

[2021-12-17 21:36] yasharth291 commented on #188
@Tejas-Ladhani

[2021-12-18 06:27] Tejas-Ladhani commented on #188
@palisadoes, Yes, I'd like to do that once the linting errors are resolved.

[2021-12-18 06:46] Tejas-Ladhani commented on #189
@palisadoes The fourth point, however, confuses the aspiring contributor because the named channel is not directly visible from our (non-admin members) side.

[2021-12-18 16:17] palisadoes commented on #189
@Tejas-Ladhani It's a public channel and should be visible.

Use the channel browser. Click on the three dots beside the word `channel` and you should see this menu.

![image](https://user-images.githubusercontent.com/16875803/146648016-dfede448-37c0-40fe-bd53-03fd4f36bcf5.png)

[2021-12-18 19:40] PSY27 commented on #56
can i work on this issue

[2021-12-18 22:40] Devesh21700Kumar opened #192 "TS error on ApolloLink instance while running locally"
This error did not pop up before. Now it shows this on running yarn serve:-

`Type 'ApolloLink' is not assignable to type 'ApolloLink | RequestHandler'.`

![image](https://user-images.githubusercontent.com/59202075/146657363-012a1ca3-3ff1-45b0-b1e1-334e587dec95.png)
Line 31 of src/index.ts

[2021-12-19 09:12] yasharth291 commented on #192
just remove the errorlink

[2021-12-19 09:12] #192 closed

[2021-12-19 13:32] sandeep-v1404 commented on #18
Can I work on this issue?

[2021-12-19 22:20] xsh2047 commented on #179
Hey, @Devesh21700Kumar this is an additional local JSON server. I thought the functionality was only triggered on interacting with the Plugins. (my bad)

I will be stubbing the functionality on the API and then I'll update the calls.

[2021-12-20 02:27] palisadoes commented on #152
@BNivia I'm going to allocate this to someone else if you are not working on it.

[2021-12-20 03:08] palisadoes commented on #18
@sandeep-v1404 You are already working on a lot of issues. Please focus on the three you already have open:
- https://github.com/PalisadoesFoundation/talawa-api/issues/assigned/sandeep-v1404

[2021-12-20 19:07] reachaadrika opened #195 "Feature request : Button on Dashboard Page of Organization"
**Is your feature request related to a problem? Please describe.**
On the dashboard of organization , the delete organization button looks weird and a bit absurd .

**Describe the solution you'd like**
Change the way the button looks like (according to the theme , like other buttons in the web app )
For eg : Create organization
I propose to create a delete organization button with a bin icon .

**

[2021-12-20 19:08] reachaadrika commented on #195
If this is a valid issue can I work on this ?

[2021-12-22 11:14] reachaadrika commented on #195
@yasharth291  I was planning to add a bin icon on the delete button , for that I would need to install react-icons library or the feather icons library in the project , Should I do it ? Or drop the idea of adding an icon ?

[2021-12-22 15:03] Tejas-Ladhani opened #198 "Redundant dependencies"
Problem :
This project contains some redundant dependencies. For the same purpose, the project employs three libraries/packages: "react-bootstrap," "Antd," and "react-modal."

If we try to use two different frameworks, we will most likely end up with a design that is inconsistent. Also, there is the possibility of ambiguity as react-bootstrap and Antd follow similar naming conventions, and this ma

[2021-12-22 17:32] yasharth291 commented on #195
sure you should add it. @reachaadrika

[2021-12-23 17:42] #185 closed

[2021-12-23 18:11] Devesh21700Kumar commented on #179
@xsh2047 so what's the way to bypass this instance and work on other features?
Can we just comment the calls to 3005 out and work on the rest?

[2021-12-25 05:23] asmitsirohi commented on #18
Hello, I would like to work on this, could you please assign it to me.

[2021-12-25 05:27] reachaadrika commented on #195
@yasharth291 I have added react-icons dependency to the project , so should I also commit the Package.json file in PR?

[2021-12-26 14:24] palisadoes commented on #56
@Prathamesh010 Are you still working on this?

[2021-12-26 14:26] palisadoes commented on #61
This is complete.

[2021-12-26 14:26] #61 closed

[2021-12-26 14:27] Prathamesh010 commented on #56
No, i unassigned myself as you can see above.
I think you accidentally assigned me again instead of PSY27.

[2021-12-26 20:41] yasharth291 commented on #195
yes

[2021-12-29 02:31] palisadoes commented on #91
Check-ins must only be handled with the mobile app as the attendees and persons at the gate will most likely both have phones

[2021-12-29 02:31] #91 closed

[2021-12-31 17:32] Devesh21700Kumar commented on #108
@palisadoes https://docs.sonarqube.org/latest/analysis/github-integration/
Sonar cube is probably the perfect replacement.

[2021-12-31 17:45] Devesh21700Kumar commented on #108
Sonarqube has to be updated with repo info too and then with GitHub actions it can be used.

[2022-01-01 10:54] palisadoes commented on #108
@Devesh21700Kumar Sonarqube requires a lot of setup, such as:
- importing your repos into their system, and
- integration with GitHub Enterprise.

Based on my research, CodeQL runner was deprecated and integrated into CodeQL. So this issue may not be relevant from a deprecation point of view.

CodeQL runs, however we are getting this error:

![image](https://user-images.githubusercontent.com/16875

[2022-01-01 12:09] Devesh21700Kumar commented on #108
https://github.com/PalisadoesFoundation/talawa-admin/pull/204

This should fix it

[2022-01-02 18:39] palisadoes commented on #108
Fixed with:
- https://github.com/PalisadoesFoundation/talawa-admin/pull/204

[2022-01-02 18:39] #108 closed

[2022-01-02 19:23] palisadoes opened #205 "Add Test Coverage Check for Pull Requests as a GitHub Action"
**Is your feature request related to a problem? Please describe.**

1. The code base is insufficiently testable.
1. We need all code to be tested as part of each pull request.

**Describe the solution you'd like**

1. We need a way to add a GitHub action that automatically checks the codebase for the percentage coverage by tests.
1. The check should error out when the percentage is below a predefi

[2022-01-02 19:26] palisadoes commented on #205
@yasharth291 I added this because though we run tests on the repo with each pull request, we are not checking the code coverage level with an aim to improving it. This should help. We recently implemented something similar for Talawa. Let me know your comments. It looks like an easy fix.

[2022-01-02 19:27] yasharth291 commented on #205
I will fix it in 2 days sir

On Mon, Jan 3, 2022, 12:57 AM Peter Harrison ***@***.***>
wrote:

[2022-01-02 20:27] palisadoes opened #206 "Upgrade the `react-scripts` package to latest version to eliminate security vulnerabilities"
**Describe the bug**

We have many dependabot security notifications for the repo.

- https://github.com/advisories/GHSA-ww39-953v-wcq6
- https://github.com/advisories/GHSA-93q8-gq69-wqmw
- https://github.com/advisories/GHSA-rp65-9cf3-cjxr
- https://github.com/advisories/GHSA-c36v-fmgq-m8hx
- https://github.com/advisories/GHSA-33f9-j839-rf8h
- https://github.com/advisories/GHSA-whgm-jr23-g3j9
- ht

[2022-01-03 09:44] Devesh21700Kumar opened #207 "[UI]- Responsiveness issues [Parent issue]"
`Parent Issue`

There are instances where responsiveness is not maintained and the UI becomes inconsistent

Here are some screenshots:-

Possible solution:- Adding a margin-right

1). At a width breakpoint of 1024px The navbar navlinks go below the navbar (overflow)
![image](https://user-images.githubusercontent.com/59202075/148770828-d08adf04-5ee1-427f-9189-ef46d73ccfd2.png)

Possible solution:-

[2022-01-03 10:03] Devesh21700Kumar commented on #207
@yasharth291 @palisadoes

[2022-01-03 17:13] palisadoes commented on #207
@Devesh21700Kumar Do you want to work on this?

[2022-01-04 06:40] Devesh21700Kumar commented on #207
Yeah sure, I'll try to fix as many as I can.

[2022-01-04 07:44] Devesh21700Kumar commented on #206
From #209 it seems like upgrading react-scripts to latest version will cause other dependencies and packages to be a bit incompatible as well.
Upgrading is leading others to have problems among themselves if not upgraded.

[2022-01-04 09:38] Devesh21700Kumar commented on #206
I have marked that PR as draft for now.

[2022-01-04 12:31] palisadoes opened #210 "CodeQL GitHub Action Fails on Pull Requests"
**Describe the bug**
Based on this error message our CodeQL GitHub action is not configured to evaluate JavaScript on Pull Requests, but is for Pushes.

**To Reproduce**
- [Follow this link to see the actual error.](https://github.com/PalisadoesFoundation/talawa-admin/pull/208/checks?check_run_id=4698808042)
- [This is the first pull request where we noticed this issue.](https://github.com/Palisad

[2022-01-04 12:49] palisadoes commented on #206
@Devesh21700Kumar Please request to be assigned the issue in future. This prevents more than one person from working on this. I am going to close this PR.

- https://github.com/PalisadoesFoundation/talawa-admin/pull/209

[2022-01-05 19:38] #206 closed

[2022-01-06 17:42] yasharth291 commented on #205
@palisadoes  i need which framework is being used here to test the code. because if we are using any jest cases it would be really easy to do it.

[2022-01-06 17:54] palisadoes commented on #205
What framework are we using now? Are we using any at all?

[2022-01-06 17:55] yasharth291 commented on #205
we are using many frameworks for testing right now we should be sticking to anyone which should be jest only

[2022-01-06 18:07] palisadoes commented on #205
OK, then let's standardize on jest and use that for calculating code coverage

[2022-01-06 18:08] yasharth291 commented on #205
yes

[2022-01-06 18:22] palisadoes commented on #205
Please proceed.

[2022-01-06 19:52] yasharth291 commented on #205
we have to create an issue regarding it to change the current test to jest component

[2022-01-06 20:08] palisadoes commented on #205
Please go ahead.

[2022-01-06 20:10] palisadoes commented on #205
Please use this code to create a badge in the `README.md` file:

[![codecov](https://codecov.io/gh/PalisadoesFoundation/talawa-admin/branch/develop/graph/badge.svg?token=II0R0RREES)](https://codecov.io/gh/PalisadoesFoundation/talawa-admin)

`[![codecov](https://codecov.io/gh/PalisadoesFoundation/talawa-admin/branch/develop/graph/badge.svg?token=II0R0RREES)](https://codecov.io/gh/PalisadoesFoundati

[2022-01-08 11:28] asmitsirohi opened #214 "Instead of rendering component, whole page is reloading!"
**Describe the bug**
While rendering components from the navigation bar page is reloading. Instead of just rendering the component.

**Here is GIF**
![demo_talawa](https://user-images.githubusercontent.com/63240102/148642335-44d55c56-1f82-4421-a146-53a85bd5a21f.gif)

**Possible solution**
When the user clicks on a navigation link, only the component is loaded instead of the whole page.

[2022-01-08 17:23] palisadoes commented on #214
Do you want to work on this?

[2022-01-09 00:26] asmitsirohi commented on #214
Yeah sure, I'll fix this one.

[2022-01-09 05:03] Devesh21700Kumar commented on #210
@yasharth291 @palisadoes I would like to work on this issue.

[2022-01-09 05:03] Devesh21700Kumar commented on #205
@yasharth291 @palisadoes I would like to work on this issue.

[2022-01-09 05:06] Devesh21700Kumar commented on #205
I tested on my branch that this Github action successfully uploads coverage report to codecov

  *Code-Coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn test --watchAll=false --coverage
      - name: Upload coverage to Code

[2022-01-09 05:13] palisadoes commented on #205
- We need to also have an action that fails when the coverage level isn't met (PRs only) - VeryGoodOpenSource
- It needs to run on pushes (without VeryGoodOpenSource )

[2022-01-09 05:15] palisadoes commented on #210
Please comment on the issue so we can assign it. I don't see your comment
there.

[2022-01-09 05:17] Devesh21700Kumar commented on #205
Yeah in package.json I can change threshold parameters for lines and statements
![image](https://user-images.githubusercontent.com/59202075/148670416-e0769c3c-3374-47f5-9376-11b8bbe01c0b.png)

if the % falls below the given percentage then it will automatically fail (also tested this)

Adding this to both pull-request.yml and push.yml will do the job

[2022-01-09 05:18] Devesh21700Kumar commented on #205
The present test coverage after #215 is merged would be around 21.5% so i think that i should set the threshold to 21% or so

[2022-01-09 05:19] palisadoes commented on #205
- We need to have the threshold value placed in the GitHub action configuration for it to work correctly with the GitHub workflow.
- We have done it that way for Talawa and Talawa-API

[2022-01-09 05:20] palisadoes commented on #205
Please look at those workflows for inspiration

[2022-01-09 05:23] Devesh21700Kumar commented on #205
Sure

[2022-01-09 06:45] karan2704 commented on #186
Since the previous PR was reverted I'd like to go back in the commit history of my forked repository so that can be on the same page as the develop branch. How do I do that without losing the commit history?

[2022-01-09 15:45] palisadoes commented on #186
Use the `git log` command to see a commit history. Each commit will have a hexadecimal reference number that can be used to revert your repo to a previous historical version.

[2022-01-09 19:07] #205 closed

[2022-01-09 20:42] #214 closed

[2022-01-09 20:44] #165 closed

[2022-01-09 20:49] palisadoes commented on #210
This is very important for us to fix.

[2022-01-09 22:06] palisadoes opened #218 "Console errors when running `yarn test`"
**Describe the bug**
When the test command is run we get a series of these errors:

`Warning: validateDOMNesting(...): <p> cannot appear as a descendant of <p>.`

**To Reproduce**
In the root of your local talawa-admin repo run these commands:
[code]
The errors will be very visible if you scroll upwards after the testing is complete.

**Expected behavior**
No console errors

**Actual behavior**
Wh

[2022-01-10 06:21] Devesh21700Kumar commented on #210
Yes I would like to solve this

This error is occurring in the push.yml workflow
I have to give an on.pull-request branch specification in the push.yml file then it will get fixed

![image](https://user-images.githubusercontent.com/59202075/148725187-e6436529-d9f5-42b4-afb2-504630314b7f.png)

[2022-01-10 06:29] Devesh21700Kumar commented on #218
Its happening in those instances of components where <p> tag is nested inside a <p> tag

For example:-
![image](https://user-images.githubusercontent.com/59202075/148725752-af0d3269-c783-495b-8089-01906eee185f.png)

Since <p> tags should not have an inline tag nested inside of them, I think the solution is that the nested <p> tags inside any <p> tag should be removed should be removed

[2022-01-10 07:01] palisadoes commented on #210
- Please  read the [README.md](https://github.com/PalisadoesFoundation/talawa-admin/blob/develop/.github/workflows/README.md) file in the `workflows` directory.
- If the fix is related to pull requests, then it must be placed in the `pull-requests.yml` file.
- This works without issue in the [Talawa-API workflows](https://github.com/PalisadoesFoundation/talawa-api/tree/develop/.github/workflows).

[2022-01-10 07:03] palisadoes commented on #218
Do you want to work on this? The errors are caused by us not following a best practice.

[2022-01-10 07:38] Devesh21700Kumar commented on #218
Yes

[2022-01-10 07:39] Devesh21700Kumar commented on #210
I think that talawa-api also has the same issue
![image](https://user-images.githubusercontent.com/59202075/148731847-14dd6dd7-2a60-4087-8cca-468c3cc67f28.png)

https://github.com/PalisadoesFoundation/talawa-api/pull/415/checks?check_run_id=4684406167

[2022-01-10 09:21] asmitsirohi opened #220 "Navigation bar is not responsive for different viewports!"
**Describe the bug**
Admin Navigation Bar is not responsive in different viewports.

**Expected behavior**
Admin Navigation Bar should be responsive at different viewports.

**Screenshots**
* Mobile View

![mobile_view](https://user-images.githubusercontent.com/63240102/148742066-700d4169-85d1-48e8-9cff-433f76a6d2c0.png)

* IPad View

![tablet_view](https://user-images.githubusercontent.com/632401

[2022-01-10 13:05] Devesh21700Kumar commented on #220
Hey @asmitsirohi This issue was referenced in #207 along with some other issues (which might have been fixed)
If u want then u can work on them as well

[2022-01-10 13:25] palisadoes commented on #210
Then why does it work with Talawa-API and not this repo?  Talawa-API runs the workflow on pull-reqests and pushes, but in separate files.

[2022-01-10 13:26] Devesh21700Kumar commented on #210
the errors are of talawa-api
It has these errors as well

[2022-01-10 13:29] palisadoes commented on #210
Please provide a link to where it's failing in `talawa-api`, I want to get a better picture of your research.

[2022-01-10 13:40] Devesh21700Kumar commented on #210
https://github.com/PalisadoesFoundation/talawa-api/pull/415/checks?check_run_id=4684406167

https://github.com/PalisadoesFoundation/talawa-api/actions/runs/1646204512

[2022-01-10 13:46] palisadoes commented on #210
If you expand the actions you'll see that the CodeQL actions ran and are
green.

Please double check

[2022-01-10 13:50] Devesh21700Kumar commented on #210
![image](https://user-images.githubusercontent.com/59202075/148776831-6e407f14-f442-4bb3-8b11-4454ba19b137.png)

Just checked
pls check this link
https://github.com/PalisadoesFoundation/talawa-api/pull/415/checks

[2022-01-10 13:51] Devesh21700Kumar commented on #210
also this
![image](https://user-images.githubusercontent.com/59202075/148776993-c0542ccd-918e-409f-8ce4-b7c93698f93a.png)

https://github.com/PalisadoesFoundation/talawa-api/pull/415#partial-pull-merging

[2022-01-10 15:37] asmitsirohi commented on #220
I thought the pull request for #207 was already merged and the issue for the navigation bar is not yet fixed.

I think it may be good to resolve all the UI-related issues in segments (in different issues). Because talawa-admin has serious UI-related issues, which may be troublesome to resolve in one go.

[2022-01-10 17:21] palisadoes commented on #210
OK. Please proceed with your solution.

[2022-01-10 17:57] palisadoes commented on #220
If we need to create a parent issue with children issues, what would they be? Would either of you be willing to create those?

[2022-01-10 18:03] Devesh21700Kumar commented on #220
Yeah I'll do it.
I'll divide the #207 issue into different issues and remove the already fixed portions

[2022-01-10 18:07] palisadoes commented on #220
After creating the parent issue:
- Please refer to each of the child issues in the body using bullets
- In each child issue refer to the parent in the body using bullets

You can find examples here:
- https://github.com/PalisadoesFoundation/talawa/issues/1023
- https://github.com/PalisadoesFoundation/talawa/issues/1013

[2022-01-11 05:48] Devesh21700Kumar opened #221 "[UI-responsiveness] Navigation bar is not responsive for viewports"
**Describe the bug**
`CHILD ISSUE`

Navigation bar is not responsive for viewports (at width break points of 1024px and less)

Mobile View:-

![image](https://user-images.githubusercontent.com/59202075/148887648-eac5e3ad-bb0e-472b-8b5c-222512c2c5dd.png)

Tablet/Ipad view

![image](https://user-images.githubusercontent.com/59202075/148887794-aaf56614-66e8-45a0-bc83-a1ee0dd051bf.png)

**Expected beh

[2022-01-11 05:53] Devesh21700Kumar opened #222 "[UI-responsiveness] Dashboard with the tags section and delete button"
**Describe the bug**
`CHILD ISSUE`

Dashboard with the tags section and delete button is not responsive and goes beyond the line of seperation

![image](https://user-images.githubusercontent.com/59202075/148888780-7545d12c-73f1-479a-a5e4-d8ff8e0739e4.png)

**Expected behavior**
Should remain responsive and within the line of separation between the left and right section

Grids/Flex should be corre

[2022-01-11 05:57] Devesh21700Kumar opened #223 "[UI-responsiveness] People's Section checkbox type input overflows beyond line"
**Describe the bug**
 People's Section checkbox type input overflows beyond line

![image](https://user-images.githubusercontent.com/59202075/148889095-87d8dad5-5fd0-4e08-9918-6aec536aa30e.png)

**Expected behavior**
It should stay within the line and should not go beyond.
Flex and media queries should be properly used

Parent issue:-
- [ ] #207

[2022-01-11 05:59] Devesh21700Kumar opened #224 "[UI-responsiveness] Main content should be within viewports (no overflow)"
**Describe the bug**
`CHILD ISSUE`

All sections have their main content portion not correctly spaced and overflowing beyond the viewports when opened
and when the screen is smaller

![image](https://user-images.githubusercontent.com/59202075/148889233-4bcbc132-be8c-4cf1-89db-268cd7f1d1d2.png)

**Expected behavior**
They should remain within the viewports

Parent issue:-
- [ ] #207

[2022-01-11 06:01] Devesh21700Kumar commented on #207
@palisadoes created a Tasklist of children issues and referenced the parent in each of the children issues

[2022-01-11 06:28] asmitsirohi commented on #220
@palisadoes I'm closing this issue because @Devesh21700Kumar mentioned this problem under #207.

[2022-01-11 06:28] #220 closed

[2022-01-11 06:29] asmitsirohi commented on #221
@palisadoes @Devesh21700Kumar I'm working on this one.

[2022-01-11 06:31] Devesh21700Kumar commented on #221
Sure

[2022-01-11 06:31] asmitsirohi commented on #222
@palisadoes @Devesh21700Kumar  I'm working on this one as well.

[2022-01-11 13:18] palisadoes commented on #207
Thanks. This should help resolve the overall situation.

[2022-01-11 13:23] #218 closed

[2022-01-11 16:52] #222 closed

[2022-01-11 16:53] #221 closed

[2022-01-11 16:56] #210 closed

[2022-01-11 16:58] asmitsirohi commented on #223
@palisadoes I'm working on this.

[2022-01-11 16:59] Devesh21700Kumar commented on #224
I'll work on this

[2022-01-11 16:59] asmitsirohi commented on #224
@palisadoes I'm working on this as well.

[2022-01-11 17:00] Devesh21700Kumar commented on #224
Ok.

[2022-01-11 19:25] palisadoes commented on #224
@asmitsirohi  you are working on many issues. I've allocated this to Devesh. If there are no PRs on this in a few days, I'll reassign. We've had cases in the past where people have monopolized issues and not closed them. I want to make sure everyone gets a chance.

[2022-01-12 00:44] asmitsirohi commented on #224
Ok, no problem

[2022-01-12 13:07] #162 closed

[2022-01-13 19:46] #223 closed

[2022-01-17 20:55] #164 closed

[2022-01-24 03:05] #224 closed

[2022-01-24 03:05] #159 closed

[2022-01-24 03:05] #161 closed

[2022-01-24 03:09] Devesh21700Kumar commented on #207
@palisadoes @yasharth291 This can be closed as well as all 4 tasks are done

[2022-01-24 03:19] #207 closed

[2022-01-27 04:57] rohit-raje-786 opened #235 "Bug Report:Contributing.md file is not been updated as per the new GSOC 22 Guidelines"
**Describe the bug**
Looks like the contributing.md file is not been updated.

<img width="885" alt="Screenshot 2022-01-27 at 10 30 00 AM" src="https://user-images.githubusercontent.com/61861303/151294399-5f71825b-ece6-474b-aef4-8a90c0588410.png">

**Additional details**
I would like to work on this issue

[2022-01-27 07:26] palisadoes commented on #235
Thanks, this has been updated.

[2022-01-27 07:26] #235 closed

[2022-01-28 18:09] Lord-Aman commented on #195
@palisadoes I would like to work on this.

So, Here's what the procedure will look like :

Only the Creator of an Organization can delete it (according to the api) : So whenever the creator will click on the delete button, We can prompt them with all the consequences of deleting an Organization. And if he's sure to delete it then we will ask again for his password and the organization username to

[2022-01-28 18:15] Lord-Aman commented on #195
@palisadoes I think that you have mistakenly unassigned me just after assigning...

[2022-01-31 16:14] asmitsirohi opened #237 "Hard coded values on organization list page."
**Describe the bug**
There are some hard-coded values while rendering the organization list.

**To Reproduce**
Steps to reproduce the behavior:

1. Login into the talawa-admin portal as a super admin.
2. You can see the list of organizations (If you created one).

**Expected behavior**
All the data should be dynamic instead of hard-coded values.

**Actual behavior**
While rendering the organizatio

[2022-01-31 16:35] palisadoes commented on #237
Would you like to work on this?

[2022-01-31 16:45] asmitsirohi commented on #237
Yes, please assign it to me.

[2022-01-31 22:09] #158 closed

[2022-02-06 20:44] palisadoes opened #239 "Update `countlines.py` and GitHub Action to also exclude directories"
We need to add a CLI option to `countlines.py`  so that we can ignore directories (such as `test/`)  in addition to existing files.

[2022-02-06 21:18] #239 closed

[2022-03-02 20:03] palisadoes opened #241 "Create Talawa-Admin Test Suite"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

This is a parent issue for creating a comprehensive test suite.

- We'll only assign the child issues.
- Please comment on one of the child issues for assignment.
- Only one child issue will be assigned to a person at any one time.

**Child Issues:**

- #242
- #243
- #244
- #245
- #246
- #247

[2022-03-02 21:35] palisadoes opened #242 "Code Coverage: Create tests for OrgContriCards.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgContriCards/OrgContriCards.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgContriCards/OrgContriCards.test.tsx`.

[2022-03-02 21:43] palisadoes opened #243 "Code Coverage: Create tests for OrgAdminListCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgAdminListCard/OrgAdminListCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgAdminListCardOrgAdminListCard.tes

[2022-03-02 21:44] palisadoes opened #244 "Code Coverage: Create tests for UserListCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/UserListCard/UserListCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/UserListCard/UserListCard.test.tsx`. You may

[2022-03-02 21:58] palisadoes opened #245 "Code Coverage: Create tests for SuperDashListCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/SuperDashListCard/SuperDashListCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/SuperDashListCard/SuperDashListCar

[2022-03-02 21:58] palisadoes opened #246 "Code Coverage: Create tests for index.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/plugins/index.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/plugins/index.test.ts`. You may need to create the approp

[2022-03-02 21:59] palisadoes opened #247 "Code Coverage: Create tests for DummyPlugin2.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/plugins/DummyPlugin2/DummyPlugin2.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/plugins/DummyPlugin2/DummyPlugin2.te

[2022-03-02 21:59] palisadoes opened #248 "Code Coverage: Create tests for DummyPlugin.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/plugins/DummyPlugin/DummyPlugin.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/plugins/DummyPlugin/DummyPlugin.test.t

[2022-03-02 22:00] palisadoes opened #249 "Code Coverage: Create tests for ContriStats.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/ContriStats/ContriStats.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/ContriStats/ContriStats.test.tsx`. You may nee

[2022-03-02 22:00] palisadoes opened #250 "Code Coverage: Create tests for AdminNavbar.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AdminNavbar/AdminNavbar.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AdminNavbar/AdminNavbar.test.tsx`. You may nee

[2022-03-02 22:00] palisadoes opened #251 "Code Coverage: Create tests for MemberRequestCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/MemberRequestCard/MemberRequestCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/MemberRequestCard/MemberRequestCar

[2022-03-02 22:01] palisadoes opened #252 "Code Coverage: Create tests for EventListCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/EventListCard/EventListCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/EventListCard/EventListCard.test.tsx`. You

[2022-03-02 22:01] palisadoes opened #253 "Code Coverage: Create tests for AddOn.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/AddOn.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/AddOn.test.tsx`. You may need to create the appropri

[2022-03-02 22:02] palisadoes opened #254 "Code Coverage: Create tests for AddOnEntry.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/core/AddOnEntry/AddOnEntry.test

[2022-03-02 22:02] palisadoes opened #255 "Code Coverage: Create tests for AddOnRegister.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/core/AddOnRegister/AddOnRegister.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/core/AddOnRegister/AddOnR

[2022-03-02 22:02] palisadoes opened #256 "Code Coverage: Create tests for AddOnStore.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/core/AddOnStore/AddOnStore.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/core/AddOnStore/AddOnStore.test

[2022-03-02 22:03] palisadoes opened #257 "Code Coverage: Create tests for SidePanel.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/support/components/SidePanel/SidePanel.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/support/components/

[2022-03-02 22:03] palisadoes opened #258 "Code Coverage: Create tests for Action.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/support/components/Action/Action.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/support/components/Action

[2022-03-02 22:04] palisadoes opened #259 "Code Coverage: Create tests for MainContent.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/support/components/MainContent/MainContent.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/support/compone

[2022-03-02 22:04] palisadoes opened #260 "Code Coverage: Create tests for Render.helper.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/support/services/Render.helper.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/support/services/Render.help

[2022-03-02 22:04] palisadoes opened #261 "Code Coverage: Create tests for Plugin.helper.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/AddOn/support/services/Plugin.helper.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/AddOn/support/services/Plugin.help

[2022-03-02 22:05] palisadoes opened #262 "Code Coverage: Create tests for OrgDelete.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgDelete/OrgDelete.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgDelete/OrgDelete.test.tsx`. You may need to cre

[2022-03-02 22:05] palisadoes opened #263 "Code Coverage: Create tests for UserUpdate.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/UserUpdate/UserUpdate.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/UserUpdate/UserUpdate.test.tsx`. You may need to

[2022-03-02 22:06] palisadoes opened #264 "Code Coverage: Create tests for OrgPeopleListCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgPeopleListCard/OrgPeopleListCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgPeopleListCard/OrgPeopleListCar

[2022-03-02 22:06] palisadoes opened #265 "Code Coverage: Create tests for LandingPage.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/LandingPage/LandingPage.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/LandingPage/LandingPage.test.tsx`. You may nee

[2022-03-02 22:06] palisadoes opened #266 "Code Coverage: Create tests for OrgUpdate.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgUpdate/OrgUpdate.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgUpdate/OrgUpdate.test.tsx`. You may need to cre

[2022-03-02 22:07] palisadoes opened #267 "Code Coverage: Create tests for OrganizationCardStart.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrganizationCardStart/OrganizationCardStart.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrganizationCardStart/Orga

[2022-03-02 22:07] palisadoes opened #268 "Code Coverage: Create tests for OrganizationCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrganizationCard/OrganizationCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrganizationCard/OrganizationCard.te

[2022-03-02 22:08] palisadoes opened #269 "Code Coverage: Create tests for OrgPostCard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/components/OrgPostCard/OrgPostCard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/components/OrgPostCard/OrgPostCard.test.tsx`. You may nee

[2022-03-02 22:08] palisadoes opened #270 "Code Coverage: Create tests for OrgContribution.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrgContribution/OrgContribution.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/screens/OrgContribution/OrgContribution.test.tsx`. Y

[2022-03-02 22:08] palisadoes opened #271 "Code Coverage: Create tests for OrgPost.tsx"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrgPost/OrgPost.tsx`

- When complete, all methods, classes and/or functions in the

[2022-03-02 22:09] palisadoes opened #272 "Code Coverage: Create tests for OrganizationEvents.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrganizationEvents/OrganizationEvents.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/screens/OrganizationEvents/OrganizationEvents.

[2022-03-02 22:09] palisadoes opened #273 "Code Coverage: Create tests for OrganizationDashboard.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrganizationDashboard/OrganizationDashboard.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/screens/OrganizationDashboard/Organizati

[2022-03-02 22:10] palisadoes opened #274 "Code Coverage: Create tests for OrgList.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrgList/OrgList.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/screens/OrgList/OrgList.test.tsx`. You may need to create the approp

[2022-03-02 22:10] palisadoes opened #275 "Code Coverage: Create tests for OrganizationPeople.tsx"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/OrganizationPeople/OrganizationPeople.tsx`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/screens/OrganizationPeople/OrganizationPeople.

[2022-03-02 22:10] palisadoes opened #276 "Code Coverage: Create tests for LoginPage.tsx"
- Please coordinate **issue assignment** and **PR reviews** with the contributors listed in this issue https://github.com/PalisadoesFoundation/talawa/issues/359

The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/screens/LoginPage/LoginPage.tsx`

- When complete, all methods, classes and/or functions in

[2022-03-02 22:11] palisadoes opened #277 "Code Coverage: Create tests for store.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/store.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/store.test.ts`. You may need to create the appropriate directory structure

[2022-03-02 22:11] palisadoes opened #278 "Code Coverage: Create tests for index.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/index.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/index.test.ts`. You may need to create the appropriate directory structure

[2022-03-02 22:12] palisadoes opened #279 "Code Coverage: Create tests for routesReducer.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/reducers/routesReducer.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/reducers/routesReducer.test.ts`. You may need to create th

[2022-03-02 22:12] palisadoes opened #280 "Code Coverage: Create tests for index.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/reducers/index.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/reducers/index.test.ts`. You may need to create the appropriate di

[2022-03-02 22:12] palisadoes opened #281 "Code Coverage: Create tests for pluginReducer.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/reducers/pluginReducer.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/reducers/pluginReducer.test.ts`. You may need to create th

[2022-03-02 22:13] palisadoes opened #282 "Code Coverage: Create tests for Action.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/helpers/Action.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/helpers/Action.test.ts`. You may need to create the appropriate di

[2022-03-02 22:13] palisadoes opened #283 "Code Coverage: Create tests for index.ts"
The Talawa-Admin code base needs to be 100% reliable. This means we need to have 100% test code coverage.

Tests need to be written for file `src/state/action-creators/index.ts`

- When complete, all methods, classes and/or functions in the file will need to be tested.
- These tests must be placed in a single file with the name `src/state/action-creators/index.test.ts`. You may need to create the

[2022-03-03 02:46] #160 closed

[2022-03-03 02:46] #163 closed

[2022-03-03 02:46] #157 closed

[2022-03-06 15:43] asmitsirohi commented on #242
I want to work on this, Please assign it to me.

[2022-03-06 15:57] palisadoes commented on #18
This issue has been dormant for some time. We need someone to work on it ASAP. The original PR was:
- https://github.com/PalisadoesFoundation/talawa-admin/pull/208

The new assignee can use the PR as a base for completing the work.

[2022-03-06 16:37] palisadoes commented on #18
@kailash360 are you still working on this? We need to implement the installer.

[2022-03-06 16:45] Daggerhub commented on #243
Please assign this issue to me, I would like to work on it.

[2022-03-06 22:49] palisadoes commented on #18
This was a good start but there are necessary improvements. The current installer needs to be modified to:

1. The installer must automatically generate token secrets if they don't already exist in the `.env` file. The result must be stored in the `.env` file.
1. Prompt for the Talawa-API URL to be used.
   1. The URL must be stored in the `.env` file
   1. Talawa-Admin must use the URL when launc

[2022-03-07 16:35] asmitsirohi opened #286 "Talawa-admin installer need to be improved!"
**Describe the bug**
The current talawa-admin installer has some bugs that need to be resolved.

**Expected behavior**
When the talawa-admin installer runs, it should prompt for the talawa-API URL, and then after verifying the URL the project is set up.

**Actual behavior**
Currently, it is prompting for ACCESS TOKEN and REFRESH TOKEN as well, which is of no use here.

**Screenshots**
![image](htt

[2022-03-07 16:43] palisadoes commented on #286
@asmitsirohi You now have three issues assigned to you. We will soon be enforcing one issue per person per repo. Please close your other issues before asking for new assignments.

[2022-03-07 20:49] ShwetKhatri2001 commented on #282
I'd like to create required tests for this file and start my contributions with Palisadoes Foundation.

[2022-03-09 04:56] i-anuragmishra commented on #283
Hey would Love to try a Hand at it @palisadoes, can it be assigned Please.

[2022-03-09 10:45] VivekParida commented on #64
Hello Sir/Madam, I went through the details about Talawa, and I am very much interested to work on this project.
With the skill set I am having right now, I expect to solve this issue within 3 working days

[2022-03-09 11:13] yasharth291 commented on #283
@i-anuragmishra  ok

[2022-03-09 11:15] yasharth291 commented on #195
@Lord-Aman  what is the progress

[2022-03-10 02:55] Lord-Aman commented on #195
I have created a pull request for this issue : https://github.com/PalisadoesFoundation/talawa-admin/pull/238. But, due to low code coverage, it hasn't been merged yet. Also, I didn't have much idea about testing, so I'm currently learning it. Will make a new Pull Request soon with required code coverage.

[2022-03-10 17:21] ANKIT-art-spec commented on #283
Hey I would also like to work on it @palisadoes Can I be assigned as well?

[2022-03-10 17:24] Tejas-Ladhani commented on #188
Hey 🙋‍♂️ @yasharth291, wasn't able to give it a priority because of some other work. Haven't done much for it.
(un-assigning it)

[2022-03-10 19:51] jadeharr commented on #283
@ANKIT-art-spec Hello, we are only assigning one person per issue.

[2022-03-11 01:37] #237 closed

[2022-03-11 16:19] ANKIT-art-spec commented on #276
Would love to contribute to it @palisadoes Can I be assigned

[2022-03-12 00:57] #286 closed

[2022-03-12 22:11] ShwetKhatri2001 commented on #255
I'd like to work on this issue.

[2022-03-13 10:29] gurpreet-legend commented on #244
Please assign this issue to me

[2022-03-13 15:05] gurpreet-legend commented on #244
@Sagar2366 , I was trying to write the test for this file, but the `AddAdmin` function when we click on Add Admin button, do not authorize even the user to add other admins showing windows alert:

![image](https://user-images.githubusercontent.com/75157493/158065936-1c78630b-748f-4a22-b043-9fac70e31536.png)

I get the problem here that only admins can make other users as admin, but I am not able t

[2022-03-13 16:30] asmitsirohi commented on #245
@palisadoes, I have already written tests for SuperDashListCard in #284. which is merged recently into the codebase.

![image](https://user-images.githubusercontent.com/63240102/158069199-c81845e5-1a55-4653-8525-765f9c2fd9da.png)

[2022-03-13 19:56] palisadoes commented on #244
@yasharth291, @DangaRanga Can you provide some assistance?

[2022-03-13 19:57] palisadoes commented on #245
Thanks. I'll close this.

[2022-03-13 19:57] #245 closed

[2022-03-13 19:59] #282 closed

[2022-03-14 08:14] #242 closed

[2022-03-17 07:51] SiddheshKukade opened #290 "Bug Report : Can't Scroll in the register page of talawa-admin home page"
**Describe the bug**
In the register page you can see that the form is not scrollable for example is some one is zoomed in on that page lets say 125% he /she should be able to scroll below to click on the register button

**To Reproduce**
Steps to reproduce the behavior:

Are you working on this ?
yes

1. git clone https://github.com/PalisadoesFoundation/talawa-admin.git
2. npm install
3. npm run

[2022-03-17 09:49] asmitsirohi commented on #249
@palisadoes, I want to work on this, please assign it to me.

[2022-03-17 11:28] yasharth291 commented on #290
@SiddheshKukade  carry out the work

[2022-03-17 12:22] #250 closed

[2022-03-17 12:54] SiddheshKukade commented on #290
#### Sir, I have created a Pull request #291
#### Please let me know if something is wrong or If  I can improve onto something

[2022-03-17 13:42] SiddheshKukade commented on #265
Currently, I can see that there is already a *LandingPage.test.tsx* file with below code

[code]
### My question :
Should I write more testcases or just improve this one ??

[2022-03-17 14:48] palisadoes commented on #265
No work needs to be done. We have reached 100% on this. Thanks.

[2022-03-17 14:48] #265 closed

[2022-03-18 00:12] asmitsirohi commented on #248
@palisadoes, Please assign this to me.

[2022-03-18 03:05] #248 closed

[2022-03-18 03:10] asmitsirohi commented on #247
@palisadoes, Please assign this to me.

[2022-03-18 05:21] palisadoes commented on #247
The file only has four lines, but go ahead

[2022-03-18 08:42] asmitsirohi commented on #247
Yeah, but I just want the codebase to have 100% code coverage.

[2022-03-18 12:32] #247 closed

[2022-03-18 12:53] #18 closed

[2022-03-18 13:05] #249 closed

[2022-03-18 13:06] #290 closed

[2022-03-18 14:54] sumitra19jha commented on #259
@palisadoes Please assign this issue to me

[2022-03-18 15:16] asmitsirohi commented on #251
@palisadoes, Please assign this to me.

[2022-03-18 15:18] asmitsirohi commented on #251
@palisadoes, Please assign this to me.

[2022-03-19 08:34] SiddheshKukade commented on #278
Sir I am working on this issue please assign this to me

[2022-03-19 10:44] asmitsirohi commented on #252
@palisadoes, Please assign it to me.

[2022-03-19 11:01] ShwetKhatri2001 commented on #254
I'd like to work on this issue.

[2022-03-19 11:02] SiddheshKukade commented on #277
Sir I want to work on this please assign this to me

[2022-03-20 10:02] yasharth291 commented on #283
@i-anuragmishra are u going to work on it

[2022-03-20 10:20] i-anuragmishra commented on #283
Yes @yasharth291 I was having some issues with build.... Would be creating a PR soon.

[2022-03-20 10:56] asmitsirohi commented on #269
@palisadoes, Please assign this to me.

[2022-03-20 15:01] #252 closed

[2022-03-20 15:01] #255 closed

[2022-03-20 15:02] #251 closed

[2022-03-20 15:40] asmitsirohi commented on #264
@palisadoes, Please assign this to me.

[2022-03-21 12:25] #264 closed

[2022-03-21 16:38] asmitsirohi commented on #267
@palisadoes, please assign this to me.

[2022-03-21 16:55] asmitsirohi commented on #268
@palisadoes, please assign this to me.

[2022-03-21 18:20] priyang12 commented on #271
hi can i work on this issue?

[2022-03-21 18:54] Devesh21700Kumar opened #304 "Unable to Login"
**Describe the bug**
Unable to Login
![image](https://user-images.githubusercontent.com/59202075/159343828-4af50616-4b9e-4408-bb44-0e73993a9c36.png)

**To Reproduce**
Click on the login button after entering credentials

Looks like there is an extra ```<``` appearing somewhere that's causing the issue

[2022-03-22 00:15] asmitsirohi commented on #304
@Devesh21700Kumar, it's working fine on my side. Maybe your current commits are behind from current development branch.

[2022-03-22 03:20] Devesh21700Kumar commented on #304
My commits are on par with the develop branch in both the client repo and server side repo, which I just checked.
I'll check again once but looks like there is an extra < coming somewhere.

[2022-03-22 10:39] #304 closed

[2022-03-22 10:40] Devesh21700Kumar commented on #304
There was a typo from my end in the .env file which went unnoticed that led to this issue.

[2022-03-22 11:21] Devesh21700Kumar commented on #273
I'm working on this issue.

[2022-03-22 15:38] #273 closed

[2022-03-22 17:35] Devesh21700Kumar commented on #280
@palisadoes I think that index.ts already has 100% testing coverage

![image](https://user-images.githubusercontent.com/59202075/159541472-1f799f0e-26d6-469e-a539-76a1fa41e69b.png)

[2022-03-22 17:59] #280 closed

[2022-03-23 06:46] Devesh21700Kumar commented on #270
![image](https://user-images.githubusercontent.com/59202075/159639482-dcec0b36-0b67-4ea1-8b0b-1fb4c1c4a5be.png)

The testing coverage for this file is 100% as well.

[2022-03-23 06:48] Devesh21700Kumar commented on #257
I'll work on this issue.

[2022-03-23 07:42] #270 closed

[2022-03-23 10:23] asmitsirohi commented on #266
@palisadoes, Please assign this to me.

[2022-03-23 19:11] palisadoes commented on #266
This is your third assignment. Please wait until your PRs are approved before asking for any more.

[2022-03-23 19:20] #278 closed

[2022-03-24 15:36] #267 closed

[2022-03-24 15:37] #257 closed

[2022-03-24 15:38] #266 closed

[2022-03-24 15:39] yasharth291 commented on #276
@ANKIT-art-spec  are u working on it?

[2022-03-24 16:10] asmitsirohi commented on #263
@palisadoes, Please assign this to me.

[2022-03-25 15:14] asmitsirohi commented on #274
@palisadoes, Please assign this to me.

[2022-03-25 16:43] ANKIT-art-spec commented on #276
Yes

[2022-03-25 22:05] #263 closed

[2022-03-26 15:54] asmitsirohi commented on #275
@palisadoes, Please assign this to me.

[2022-03-26 17:17] ANKIT-art-spec commented on #276
How do I add the screen shot of the result?

[2022-03-26 17:23] palisadoes commented on #276
Copy the screenshot to your clipboard and paste the result in the GitHub comments. GitHub will create a unique link to your content.

[2022-03-26 17:25] #274 closed

[2022-03-26 17:50] ANKIT-art-spec commented on #276
[TestScrShot.docx](https://github.com/PalisadoesFoundation/talawa-admin/files/8356051/TestScrShot.docx)

[2022-03-26 17:51] ANKIT-art-spec commented on #276
Is this fine?

[2022-03-26 17:52] ANKIT-art-spec commented on #276
![Uploading image.png…]()

[2022-03-26 17:52] ANKIT-art-spec commented on #276
This one is the final one

[2022-03-26 18:22] palisadoes commented on #276
What I meant was:

1. Copy the screen shot to an image editor.
2. In the editor copy the image to the image editor's clipboard.
3. Put your cursor in the GitHub comment box
4. Paste the clipboard into the comment

If you use the Microsoft clipping tool, there is an option to copy the clip into the clipboard. You can then paste the image into comment box

Please try that.

[2022-03-27 00:44] #179 closed

[2022-03-27 05:38] SiddheshKukade commented on #262
Sir I can already see there is a test file created as Orgdelete.test.tsx
which contains the following code:

[code]

## So do we have to improve it or is it completed ?

[2022-03-27 06:07] SiddheshKukade commented on #279
I want to work on this please assign this to me :+1:

[2022-03-27 06:15] yasharth291 commented on #279
continue @SiddheshKukade

[2022-03-27 10:17] ANKIT-art-spec commented on #276
![WhatsApp Image 2022-03-27 at 15 45 58](https://user-images.githubusercontent.com/78015603/160276869-882b59e5-19d3-4b3f-a133-8e6fc5b74528.jpeg)

[2022-03-27 11:45] SiddheshKukade commented on #279
Ok :+1:

[2022-03-27 12:14] asmitsirohi commented on #272
@palisadoes, Please assign this to me.

[2022-03-27 12:25] #277 closed

[2022-03-27 12:38] #262 closed

[2022-03-27 13:02] SiddheshKukade commented on #281
I would like to work on this :+1:

[2022-03-28 09:18] SiddheshKukade commented on #279
@yasharth291 sir I have  a doubt:
     I caanot find the actions for routesReducer

## In the ` src/state/action-creators/index.js ` I can see the follwing code :
[code]
### I think these are plugin reducer actions can you please tell me where are the actions of the route reducer ?

[2022-03-28 10:13] floppey commented on #188
Adding this line of code fixed the issue for me:

`import '@testing-library/jest-dom';`

[2022-03-28 14:49] ANKIT-art-spec commented on #276
This is my contribution for GSoC 2022. Is this fine?

[2022-03-28 16:42] #275 closed

[2022-03-28 17:21] asmitsirohi commented on #246
@palisadoes, please assign this to me.

[2022-03-28 17:28] palisadoes commented on #246
That file only has imports. There isn't much work to do.

[2022-03-28 17:30] palisadoes commented on #276
Please put in a PR. The mentors use merged PRs as part of their evaluations.

[2022-03-28 18:24] palisadoes commented on #188
@floppey would you like to work on this?

[2022-03-29 00:16] #272 closed

[2022-03-29 00:43] #246 closed

[2022-03-29 00:58] asmitsirohi commented on #253
@palisadoes, please assign this to me.

[2022-03-29 09:17] SiddheshKukade commented on #279
@yasharth291  @palisadoes  @DangaRanga I am just asking if there is any action file for routesReducer so that I can use them for writing tests on the reducer

[2022-03-29 09:24] SiddheshKukade commented on #260
Sir I would like to work on this please assign me :+1:

[2022-03-29 16:21] palisadoes commented on #279
@yasharth291  @DangaRanga please respond.

[2022-03-29 16:24] yasharth291 commented on #279
@SiddheshKukade I think there is no action file for the same

[2022-03-29 16:29] #281 closed

[2022-03-30 17:00] #253 closed

[2022-03-31 10:19] SiddheshKukade commented on #283
@i-anuragmishra  if you are working on this @yasharth291 sir or @palisadoes sir you can assign this to me . I'm open to work on this

[2022-03-31 16:08] palisadoes commented on #283
Please submit a PR by Monday. That would give a 2 week opportunity. Let us know whether you are able to continue at that time, so we can determine how to proceed.

[2022-04-01 08:41] SiddheshKukade commented on #283
Sir was that for me or @i-anuragmishra ?

[2022-04-01 12:36] palisadoes commented on #283
@i-anuragmishra

[2022-04-01 15:41] ANKIT-art-spec commented on #276
In which branch do I submit my PR?

[2022-04-01 16:36] palisadoes commented on #276
develop

[2022-04-02 16:50] #279 closed

[2022-04-02 16:51] #258 closed

[2022-04-02 17:32] ANKIT-art-spec commented on #276
Why was my PR closed?

[2022-04-02 17:36] palisadoes commented on #276
The reason is stated here:

- https://github.com/PalisadoesFoundation/talawa-admin/pull/323#issuecomment-1086677021

[2022-04-06 15:19] #260 closed

[2022-04-15 19:49] manassinghdewari commented on #195
Hiii I want to work on this issue .
Can i work on this issue

[2022-04-22 20:27] arnab8335 opened #327 "Changes in CONTRIBUTING.md file"
In order for newcomers to contribute in the project we should apply some visual snapshots in order for newcomers to understand how to generate a PR a in case gets the PR pushed and a good UI can make it even better.

[2022-04-22 20:27] arnab8335 commented on #327
I want to work on this issue.

[2022-04-22 21:38] arnab8335 commented on #327
It will help new beginners

[2022-04-23 04:52] palisadoes commented on #327
This is not necessary. We will be duplicating documentation on GitHub that will be hard to keep up to date. Closing.

[2022-04-23 04:52] #327 closed

[2022-04-24 10:55] evasharma12 opened #328 "Create setup.md in setup folder"
The Talawa-Api repository has a setup.md file explaining the folder structure and the function of each file. It makes it easier for users to understand the functioning of the files.

A similar file should be added to this repository. The file will contain brief explanations for each file and illustrations/snapshots wherever required for better information.

[2022-04-24 12:06] evasharma12 commented on #328
Please assign me this issue.

[2022-04-24 14:52] palisadoes commented on #328
Please also update the .js files to have comments that explain their purpose. Ensure that they are JSDocs compliant as we will be using this in future.

[2022-04-26 11:47] evasharma12 commented on #328
I have created a file named Setup.md and made a [Pull request](https://github.com/PalisadoesFoundation/talawa-admin/pull/329).

About the requirement of comments in the .js files, I think that the files already have commented code in the Setup directory. If you want me to work on some other directory, do let me know.

Thank you.

[2022-05-03 15:06] #259 closed

[2022-05-04 16:47] asmitsirohi commented on #243
@palisadoes, If @Daggerhub is not working on it, can you please assign it to me. I want to work on this.

[2022-05-05 15:05] asmitsirohi commented on #244
@palisadoes, If @gurpreet-legend is not working on it, can you please assign it to me. I want to work on this.

[2022-05-08 16:03] asmitsirohi commented on #276
@palisadoes, If @ANKIT-art-spec is not working on it, can you please assign it to me. I want to work on this.

[2022-05-09 07:57] anwersayeed opened #335 "Error in copying the .env.example to .env"
**Describe the bug**
In the README.md file, the command to copy the contents of **.env.example to .env** is given as **`cp .env .env.example`**. Here the order of command is wrong, and it should be **`cp .env.example .env`**.

**To Reproduce**
Steps to reproduce the behavior:

1. git clone https://github.com/PalisadoesFoundation/talawa-admin
2. cd talawa-admin
3. cp .env .env.example

**Expected b

[2022-05-09 07:57] anwersayeed commented on #335
Assign this issue to me.

[2022-05-15 05:50] Maagztech commented on #65
sir can i start working on this issue.

[2022-05-16 14:57] #244 closed

[2022-05-16 16:54] asmitsirohi commented on #256
@palisadoes, please assign this to me, I want to work on this.

[2022-05-27 19:23] #256 closed

[2022-05-28 14:09] SiddheshKukade commented on #271
@priyang12  if you are not working on this I would like to take this issue

[2022-05-28 17:43] SiddheshKukade commented on #283
Sir ,I would like to work on this

[2022-06-04 18:04] #283 closed

[2022-06-08 03:19] asmitsirohi opened #341 "[Feature Request] Secured Routes and 404 Not Found"
**Is your feature request related to a problem? Please describe.**

Currently, in Talawa-admin, the routes are insecure and the authentication of the user is checked only at login. Also, the title for every screen is the same instead of dynamic ones. The 404 not found page is required for the incorrect route.

**Describe the solution you'd like**

The preferable solution is as follows:

* Query to

[2022-06-12 05:37] #341 closed

[2022-06-13 12:00] asmitsirohi opened #342 "[Feature Request] New Features and responsiveness issues"
**Is your feature request related to a problem? Please describe.**
Currently, in Talawa-admin, the feature for forgetting passwords is not present, and while logging in or signup there is no captcha to detect the bot activity. The pop-up alerts are not configured to pop up the correct exception.

**Describe the solution you'd like**
* Interactive alerts will be added i.e. react-toasts.
* Registrat

[2022-06-15 04:33] SiddheshKukade opened #344 "Bug Report - Error Delete '' in prettier"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. clone the repo
2.run `npm run setup`
3. run `npm run serve`
4. go to localhost:3000

## **Expected behavior**
A clear and concise description of what you expected to happen.
![image](https://user-images.githubusercontent.com/65951872/173737254-c7685a97-7f13-4842-97d7-552e

[2022-06-15 04:34] SiddheshKukade commented on #344
I would like  to work on this

[2022-06-19 19:17] #344 closed

[2022-07-06 18:47] #342 closed

[2022-07-10 14:54] #198 closed

[2022-07-24 08:03] SiddheshKukade opened #356 "Feature Request : [Features as Plugins] Implement UI for AddOnStore with Proper Server Calls"
Details will be added soon
**Is your feature request related to a problem? Please describe.**

[Latent features in the mobile app should be enabled by installing plugins via the Admin web portal. The API would need to detect the existence of a plugin, and automatically query the plugin for authorization to do some action. When authorized, the mobile app will display new capabilities. This project

[2022-07-24 08:04] SiddheshKukade commented on #356
@palisadoes  this issue can be assigned to me

[2022-08-02 04:15] asmitsirohi opened #357 "[Feature Request] Posts and Events features and Spam mitigation"
**Is your feature request related to a problem? Please describe.**
Currently, In talawa-admin, the posts and events list contains hard-coded values and while creating events and posts some fields are missing. Also, as the count of posts and events increases, there is a need for pagination and search functionality.

Also, there is no way in Talawa-admin to detect the user who spammed in the organiz

[2022-08-02 04:31] asmitsirohi commented on #357
@palisadoes sir, this issue can be assigned to me

[2022-09-03 20:02] #356 closed

[2022-09-11 15:13] #357 closed

[2022-09-11 16:38] asmitsirohi opened #359 "[Feature Request] Multi Language Support"
**Is your feature request related to a problem? Please describe.**
In talawa-admin, there is a need for multi-language support.

**Describe the solution you'd like**
* `react-i18next` will be configured to implement the feature of multiple languages.
* Currently, five different languages support will be configured. These five languages are similar to talawa-api. I.e. English, French, Hindi, Spanis

[2022-09-11 18:33] asmitsirohi commented on #359
@palisadoes sir, this issue can be assigned to me

[2022-09-12 13:17] Maagztech commented on #188
I want to work on this can you assign me?

[2022-09-14 16:50] #359 closed